### P1/P2 Mapping
     1. Use unmapped account + address from #1 and map P1 SDU
     2. Use unmapped account + address from #2 and map P2 SDU

In [6]:
import pandas as pd
import numpy as np
import re

# For similarity
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import time

In [7]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [8]:
## Run this notebook for all ISPs
ISP_Name = 'TM'
# ISP_Name = 'ALLO'
# ISP_Name = 'Maxis'
# ISP_Name = 'CTS'

### P1 Mapping - MDU

In [9]:
import pandas as pd
%cd /Users/zmmzohreh/OneDrive - MEASAT Broadcast Network Systems Sdn. Bhd/Shared Documents/Input Data
# %cd /Users/zmmzohreh/OneDrive - MEASAT Broadcast Network Systems Sdn. Bhd/Shared Documents/Fakhrul

/Users/zmmzohreh/OneDrive - MEASAT Broadcast Network Systems Sdn. Bhd/Shared Documents/Input Data

In [10]:
## Read standardised ISP

# isp_corrected = pd.read_csv('TM_New_Standardised.csv.gz',  compression='gzip')
isp_corrected = pd.read_csv('TM_New_Standardised_mar.csv')

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3,4,5,7,9,11,12,13,14,15,17,20,23,26,27,28,29,33,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:

## Read standardised Astro
# astro_corrected = pd.read_csv('astro_new_Standardised.csv')
astro_corrected = pd.read_csv('Astro_New_Standardised_Dec.csv')

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3,4,5,7,9,11,12,13,14,15,16,17,19,29,30,31,32,33,34,35,36,38,39,40,41,42,43,45,46,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
astro_corrected.shape

(4793340, 54)

In [13]:
4859136

4859136

In [14]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN

In [15]:
isp_corrected.Combined_Building.unique()

array(['RUMAH MURAH', 'FTTH BLOK C BERINGIN', 'BLOK 4 APARTMENT TERATAI',
       ..., 'LOGWIN FORWARDING MALAYSIA SDN',
       'UPS SCS (MALAYSIA) SERVICES SDN BHD', 'VANQUISH SERVICE SDN.BHD.'],
      dtype=object)

In [16]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN

In [17]:
print(isp_corrected.shape,astro_corrected.shape)

(10184579, 37) (4793340, 54)

In [18]:
isp_corrected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10184579 entries, 0 to 10184578
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ADDRESS_KEY             float64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  STD_CITY                object
 17  BuildingName            object
 18  City                    object
 19  HouseNo                 object
 20  Postcode                object
 21  Section                 object
 22  ServiceType             object
 23  State                   object
 24  StreetName              object
 25  StreetType              object
 26  ADDRESS                 object
 27  ADDRESS_MDU             object
 28  Address_Type            object
 29  Combined_Building       object
 30  Source                  object
 31  Standard_Building_Name  object
 32  Unnamed: 0.1            float64
 33  FloorNo                 object
 34  Unnamed: 0.1.1          float64
 35  Status                  object
 36  ACCOUNT_NO              object
dtypes: float64(4), int64(1), object(32)
memory usage: 2.8+ GB

In [19]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",jalan telaga batu,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",jalan 8f,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN

In [20]:
astro_corrected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4793340 entries, 0 to 4793339
Data columns (total 54 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ACCOUNT_NO              int64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  Combined_Building       object
 17  ASTRO_CITY              object
 18  ASTRO_STATE             object
 19  cust_location           object
 20  service_add_objid       float64
 21  STD_CITY                object
 22  HOUSE_NO                object
 23  Token_Sort_Ratio        float64
 24  rank                    float64
 25  Standard_Building_Name  object
 26  Unnamed: 0.1            float64
 27  Unnamed: 0.1.1          float64
 28  Unnamed: 0.1.1.1        float64
 29  DWELLING_TYPE           object
 30  AREA/SECTION            object
 31  BLOCK                   object
 32  Batch_Flag              object
 33  CONDO NAME              object
 34  STREET NAME 1           object
 35  STREET NAME 2           object
 36  STREET TYPE             object
 37  account_no              float64
 38  address_type            object
 39  service_add_1           object
 40  service_add_2           object
 41  service_add_3           object
 42  service_add_4           object
 43  service_city            object
 44  service_postcode        float64
 45  service_region          object
 46  service_state           object
 47  Agent                   float64
 48  Date                    float64
 49  Unnamed: 21             float64
 50  service_add_5           float64
 51  hnum_len                float64
 52  HNUM_origin             object
 53  Source                  object
dtypes: float64(14), int64(2), object(38)
memory usage: 1.9+ GB

In [21]:
astro_corrected = astro_corrected.drop_duplicates()
print(astro_corrected.shape,astro_corrected.ACCOUNT_NO.nunique())

(4793340, 54) 4283965

In [22]:
astro_corrected.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",jalan kemuning palma 33/39d,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,99018045,"MARINOX SKY VILLAS,28A-29-2,JALAN DESIRAN TANJUNG 4,TANJONG TOKONG,10470,PULAU PINANG",w0zr48gw5ekm,AB21D,AAD7A$28A$Jalan Desiran Tanjung 4$AA557$Seri Tanjung Pinang$Tanjung Tokong$Pulau Pinang$Malaysia$10470,1.0,"28a, jalan desiran tanjung 4, seri tanjung pinang, 10470 tanjung tokong, pulau pinang, malaysia",jalan desiran tanjung 4,jalan desiran tanjung 4,Seri Tanjung Pinang,Tanjung Tokong,Pulau Pinang,Malaysia,10470,Match,MARINOX SKY VILLAS,TANJONG TOKONG,PNG,URBAN,86795196.0,TANJUNG TOKONG,"28A-29-2,",NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,96056470,"NO. 230A,SUSUR DESA BIDARA 11,TAMAN DESA BIDARA,KUALA KETIL,09300,KEDAH",w0zxf7qy687j,AB21D,AAD8F$969$Susur Bidara 3$AAEDD$Taman Desa Bidara$Kuala Ketil$Kedah$Malaysia$09300,1.0,"969, susur bidara 3, taman desa bidara, 09300 kuala ketil, kedah, malaysia",susur bidara 3,susur bidara 3,Taman Desa Bidara,Kuala Ketil,Kedah,Malaysia,09300,Match,NAN,KUALA KETIL,KED,RURAL,88492386.0,KUALA KETIL,230,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,98210672,"NO 10-G-T2,JALAN MENARA UTAMA,TAMAN D MENARA,BUKIT CHANGGANG,BANTING,42700,SELANGOR",w2820b4ur53b,AAABF,AA422$AA697$Jalan Menara Utama$AA324$AA50E$Banting$Selangor$Malaysia$AAC99,1.0,"jalan menara utama, banting, selangor, malaysia",jalan menara utama,jalan menara utama,AA50E,Banting,Selangor,Malaysia,AAC99,Match,NAN,BANTING,SEL,URBAN,86703504.0,BANTING,10,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,99016633,"C2-2-2 BLK. C2 PERSIARAN,MULTIMEDIA CYBERIA SMARTHOMES,CYBERJAYA,63000,SELANGOR",w2828ue531jx,AAABF,AAF4F$AA3B8$Persiaran Bestari$AA452$Cyberjaya$Cyberjaya$Selangor$Malaysia$63000,1.0,"sp 84 the arc cyberjaya, persiaran bestari, cyberjaya, 63000 cyberjaya, selangor, malaysia",persiaran bestari,persiaran bestari,Cyberjaya,Cyberjaya,Selangor,Malaysia,63000,Match,NAN,CYBERJAYA,SEL,URBAN,86785711.0,CYBERJAYA,C2-2-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
isp_corrected.Combined_Building.unique()

array(['RUMAH MURAH', 'FTTH BLOK C BERINGIN', 'BLOK 4 APARTMENT TERATAI',
       ..., 'LOGWIN FORWARDING MALAYSIA SDN',
       'UPS SCS (MALAYSIA) SERVICES SDN BHD', 'VANQUISH SERVICE SDN.BHD.'],
      dtype=object)

In [24]:
# Capitalize all Condo, City, Street and House_no form both ISP and Astro
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.upper()
isp_corrected['Street_1'] = isp_corrected['Street_1'].str.upper()
isp_corrected['Combined_Building'] = isp_corrected['Combined_Building'].astype(str).str.upper()
isp_corrected['STD_CITY'] = isp_corrected['STD_CITY'].str.upper()

astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.upper()
astro_corrected['Street_1'] = astro_corrected['Street_1'].str.upper()
astro_corrected['Combined_Building'] = astro_corrected['Combined_Building'].astype(str).str.upper()
astro_corrected['STD_CITY'] = astro_corrected['STD_CITY'].str.upper()

In [25]:
isp_corrected['Combined_Building'].unique()

array(['RUMAH MURAH', 'FTTH BLOK C BERINGIN', 'BLOK 4 APARTMENT TERATAI',
       ..., 'LOGWIN FORWARDING MALAYSIA SDN',
       'UPS SCS (MALAYSIA) SERVICES SDN BHD', 'VANQUISH SERVICE SDN.BHD.'],
      dtype=object)

In [26]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN

In [27]:
# Fix HOUSE_NO. Replace specific strings (eg. "BLOK" ) with empty string ("")
astro_corrected["HOUSE_NO"] = astro_corrected['HOUSE_NO'].str.replace('nan ','', case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace('[,.]','', case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("[",'')
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("]","")
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("'","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("NO. ","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("NO.","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("NO","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("LOT","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("UNIT","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace(",","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("\.","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("BLOCK","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("BLOK","", case = False)
astro_corrected["HOUSE_NO"] = astro_corrected["HOUSE_NO"].str.replace("BLK","", case = False)

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

In [28]:
# Fix HOUSE_NO that are converted to date
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("JAN-","01-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-JAN","-01", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace('FEB-','02-', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace('-FEB','-02', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("MAR-",'03-', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-MAR","-03", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("APR-","04-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-APR","-04", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("MAY-","05-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-MAY","-05", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("JUN-","06-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-JUN","-06", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace('JUL-','07-', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace('-JUL','-07', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("AUG-",'08-', case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-AUG","-08", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("SEP-","09-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-SEP","-09", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("OCT-","10-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-OCT","-10", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("NOV-","11-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-NOV","-11", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("DEC-","12-", case = False)
astro_corrected['HOUSE_NO'] = astro_corrected['HOUSE_NO'].str.replace("-DEC","-12", case = False)

In [29]:
# Combine address columns(HOUSE_NO,...) to generate a new column named COMBINED_ADD 
astro_corrected["COMBINED_ADD"] = astro_corrected["HOUSE_NO"].map(str) + "  ," + \
                            astro_corrected["Combined_Building"].map(str) + "  ," + \
                            astro_corrected["Street_1"].map(str) + "  ," + \
                            astro_corrected["AREA"].map(str) + " ," + \
                            astro_corrected["POSTCODE"].map(str) + " ," + \
                            astro_corrected["STD_CITY"].map(str)+ " ," + \
                            astro_corrected["ASTRO_STATE"].map(str)

In [30]:
## Pad the HOUSE_NO column not to change to date again
astro_corrected['ASTRO_HOUSE_NO1']= astro_corrected['HOUSE_NO'].str.pad(width=10)

In [31]:
# Add new column in astro_corrected -- Combined_Building + STD_CITY = HNUM_STRT
astro_corrected["HNUM_STRT"] = astro_corrected["Combined_Building"].map(str) + " ," +astro_corrected["STD_CITY"].map(str)
astro_corrected.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,"NAN ,SHAH ALAM"
1,1,99018045,"MARINOX SKY VILLAS,28A-29-2,JALAN DESIRAN TANJUNG 4,TANJONG TOKONG,10470,PULAU PINANG",w0zr48gw5ekm,AB21D,AAD7A$28A$Jalan Desiran Tanjung 4$AA557$Seri Tanjung Pinang$Tanjung Tokong$Pulau Pinang$Malaysia$10470,1.0,"28a, jalan desiran tanjung 4, seri tanjung pinang, 10470 tanjung tokong, pulau pinang, malaysia",JALAN DESIRAN TANJUNG 4,jalan desiran tanjung 4,Seri Tanjung Pinang,Tanjung Tokong,Pulau Pinang,Malaysia,10470,Match,MARINOX SKY VILLAS,TANJONG TOKONG,PNG,URBAN,86795196.0,TANJUNG TOKONG,28A-29-2,NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"28A-29-2 ,MARINOX SKY VILLAS ,JALAN DESIRAN TANJUNG 4 ,Seri Tanjung Pinang ,10470 ,TANJUNG TOKONG ,PNG",28A-29-2,"MARINOX SKY VILLAS ,TANJUNG TOKONG"
2,2,96056470,"NO. 230A,SUSUR DESA BIDARA 11,TAMAN DESA BIDARA,KUALA KETIL,09300,KEDAH",w0zxf7qy687j,AB21D,AAD8F$969$Susur Bidara 3$AAEDD$Taman Desa Bidara$Kuala Ketil$Kedah$Malaysia$09300,1.0,"969, susur bidara 3, taman desa bidara, 09300 kuala ketil, kedah, malaysia",SUSUR BIDARA 3,susur bidara 3,Taman Desa Bidara,Kuala Ketil,Kedah,Malaysia,09300,Match,NAN,KUALA KETIL,KED,RURAL,88492386.0,KUALA KETIL,230,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"230 ,NAN ,SUSUR BIDARA 3 ,Taman Desa Bidara ,09300 ,KUALA KETIL ,KED",230,"NAN ,KUALA KETIL"
3,3,98210672,"NO 10-G-T2,JALAN MENARA UTAMA,TAMAN D MENARA,BUKIT CHANGGANG,BANTING,42700,SELANGOR",w2820b4ur53b,AAABF,AA422$AA697$Jalan Menara Utama$AA324$AA50E$Banting$Selangor$Malaysia$AAC99,1.0,"jalan menara utama, banting, selangor, malaysia",JALAN MENARA UTAMA,jalan menara utama,AA50E,Banting,Selangor,Malaysia,AAC99,Match,NAN,BANTING,SEL,URBAN,86703504.0,BANTING,10,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10 ,NAN ,JALAN MENARA UTAMA ,AA50E ,AAC99 ,BANTING ,SEL",10,"NAN ,BANTING"
4,4,99016633,"C2-2-2 BLK. C2 PERSIARAN,MULTIMEDIA CYBERIA SMARTHOMES,CYBERJAYA,63000,SELANGOR",w2828ue531jx,AAABF,AAF4F$AA3B8$Persiaran Bestari$AA452$Cyberjaya$Cyberjaya$Selangor$Malaysia$63000,1.0,"sp 84 the arc cyberjaya, persiaran bestari, cyberjaya, 63000 cyberjaya, selangor, malaysia",PERSIARAN BESTARI,persiaran bestari,Cyberjaya,Cyberjaya,Selangor,Malaysia,63000,Match,NAN,CYBERJAYA,SEL,URBAN,86785711.0,CYBERJAYA,C2-2-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C2-2-2 ,NAN ,PERSIARAN BESTARI ,Cyberjaya ,63000 ,CYBERJAYA ,SEL",C2-2-2,"NAN ,CYBERJAYA"

In [32]:
# Clean HNUM_STRT column. Replace specific strings (eg. '[,.]' ) with empty string ("")
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('nan ','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('[,.]','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(" ","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace("\.","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(",","")

astro_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

(4793340, 57)

In [33]:
# Capitalize HNUM_STRT
astro_corrected['HNUM_STRT'] = astro_corrected['HNUM_STRT'].str.upper()

In [34]:
astro_corrected.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,SHAHALAM
1,1,99018045,"MARINOX SKY VILLAS,28A-29-2,JALAN DESIRAN TANJUNG 4,TANJONG TOKONG,10470,PULAU PINANG",w0zr48gw5ekm,AB21D,AAD7A$28A$Jalan Desiran Tanjung 4$AA557$Seri Tanjung Pinang$Tanjung Tokong$Pulau Pinang$Malaysia$10470,1.0,"28a, jalan desiran tanjung 4, seri tanjung pinang, 10470 tanjung tokong, pulau pinang, malaysia",JALAN DESIRAN TANJUNG 4,jalan desiran tanjung 4,Seri Tanjung Pinang,Tanjung Tokong,Pulau Pinang,Malaysia,10470,Match,MARINOX SKY VILLAS,TANJONG TOKONG,PNG,URBAN,86795196.0,TANJUNG TOKONG,28A-29-2,NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"28A-29-2 ,MARINOX SKY VILLAS ,JALAN DESIRAN TANJUNG 4 ,Seri Tanjung Pinang ,10470 ,TANJUNG TOKONG ,PNG",28A-29-2,MARINOXSKYVILLASTANJUNGTOKONG
2,2,96056470,"NO. 230A,SUSUR DESA BIDARA 11,TAMAN DESA BIDARA,KUALA KETIL,09300,KEDAH",w0zxf7qy687j,AB21D,AAD8F$969$Susur Bidara 3$AAEDD$Taman Desa Bidara$Kuala Ketil$Kedah$Malaysia$09300,1.0,"969, susur bidara 3, taman desa bidara, 09300 kuala ketil, kedah, malaysia",SUSUR BIDARA 3,susur bidara 3,Taman Desa Bidara,Kuala Ketil,Kedah,Malaysia,09300,Match,NAN,KUALA KETIL,KED,RURAL,88492386.0,KUALA KETIL,230,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"230 ,NAN ,SUSUR BIDARA 3 ,Taman Desa Bidara ,09300 ,KUALA KETIL ,KED",230,KUALAKETIL
3,3,98210672,"NO 10-G-T2,JALAN MENARA UTAMA,TAMAN D MENARA,BUKIT CHANGGANG,BANTING,42700,SELANGOR",w2820b4ur53b,AAABF,AA422$AA697$Jalan Menara Utama$AA324$AA50E$Banting$Selangor$Malaysia$AAC99,1.0,"jalan menara utama, banting, selangor, malaysia",JALAN MENARA UTAMA,jalan menara utama,AA50E,Banting,Selangor,Malaysia,AAC99,Match,NAN,BANTING,SEL,URBAN,86703504.0,BANTING,10,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10 ,NAN ,JALAN MENARA UTAMA ,AA50E ,AAC99 ,BANTING ,SEL",10,BANTING
4,4,99016633,"C2-2-2 BLK. C2 PERSIARAN,MULTIMEDIA CYBERIA SMARTHOMES,CYBERJAYA,63000,SELANGOR",w2828ue531jx,AAABF,AAF4F$AA3B8$Persiaran Bestari$AA452$Cyberjaya$Cyberjaya$Selangor$Malaysia$63000,1.0,"sp 84 the arc cyberjaya, persiaran bestari, cyberjaya, 63000 cyberjaya, selangor, malaysia",PERSIARAN BESTARI,persiaran bestari,Cyberjaya,Cyberjaya,Selangor,Malaysia,63000,Match,NAN,CYBERJAYA,SEL,URBAN,86785711.0,CYBERJAYA,C2-2-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C2-2-2 ,NAN ,PERSIARAN BESTARI ,Cyberjaya ,63000 ,CYBERJAYA ,SEL",C2-2-2,CYBERJAYA

In [35]:
# Fix house no for isp_corrected. Replace specific strings (eg. "BLOK" ) with empty string ("")
isp_corrected["HouseNo"] = isp_corrected['HouseNo'].str.replace('nan ','', case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace('[,.]','', case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("[",'', )
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("]","")
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("'","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("NO. ","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("NO.","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("NO","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("LOT","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("UNIT","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace(",","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("\.","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("BLOCK","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("BLOK","", case = False)
isp_corrected["HouseNo"] = isp_corrected["HouseNo"].str.replace("BLK","", case = False)

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

In [36]:
# Fix HouseNo that are converted to date
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("JAN-","01-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-JAN","-01", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace('FEB-','02-', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace('-FEB','-02', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("MAR-",'03-', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-MAR","-03", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("APR-","04-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-APR","-04", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("MAY-","05-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-MAY","-05", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("JUN-","06-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-JUN","-06", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace('JUL-','07-', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace('-JUL','-07', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("AUG-",'08-', case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-AUG","-08", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("SEP-","09-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-SEP","-09", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("OCT-","10-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-OCT","-10", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("NOV-","11-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-NOV","-11", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("DEC-","12-", case = False)
isp_corrected['HouseNo'] = isp_corrected['HouseNo'].str.replace("-DEC","-12", case = False)

In [37]:
## Pad the HOUSE_NO column not to change to date again
isp_corrected['TM_HOUSE_NO1']= isp_corrected['HouseNo'].str.pad(width=10)

In [38]:
isp_corrected.Combined_Building.unique()

array(['RUMAH MURAH', 'FTTH BLOK C BERINGIN', 'BLOK 4 APARTMENT TERATAI',
       ..., 'LOGWIN FORWARDING MALAYSIA SDN',
       'UPS SCS (MALAYSIA) SERVICES SDN BHD', 'VANQUISH SERVICE SDN.BHD.'],
      dtype=object)

In [39]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO,TM_HOUSE_NO1
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-01
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-02
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-03

In [40]:
# Add new column in isp_corrected -- Combined_Building + STD_CITY = HNUM_STRT_TM
isp_corrected["HNUM_STRT_TM"] = isp_corrected["Combined_Building"].map(str) + " ," + isp_corrected["STD_CITY"].map(str)
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO,TM_HOUSE_NO1,HNUM_STRT_TM
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"RUMAH MURAH ,KUALA TERENGGANU"
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"RUMAH MURAH ,KUALA TERENGGANU"
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-01,"FTTH BLOK C BERINGIN ,BATU CAVES"
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-02,"FTTH BLOK C BERINGIN ,BATU CAVES"
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-03,"FTTH BLOK C BERINGIN ,BATU CAVES"

In [41]:
isp_corrected.Combined_Building.unique()

array(['RUMAH MURAH', 'FTTH BLOK C BERINGIN', 'BLOK 4 APARTMENT TERATAI',
       ..., 'LOGWIN FORWARDING MALAYSIA SDN',
       'UPS SCS (MALAYSIA) SERVICES SDN BHD', 'VANQUISH SERVICE SDN.BHD.'],
      dtype=object)

In [42]:
# Clean HNUM_STRT_TM column. Replace specific strings (eg. '[,.]' ) with empty string ("")
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('nan ','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('[,.]','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(" ","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(",","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace("\.","")

isp_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

(10184579, 39)

In [43]:
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO,TM_HOUSE_NO1,HNUM_STRT_TM
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,RUMAHMURAHKUALATERENGGANU
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,RUMAHMURAHKUALATERENGGANU
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-01,FTTHBLOKCBERINGINBATUCAVES
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-02,FTTHBLOKCBERINGINBATUCAVES
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-03,FTTHBLOKCBERINGINBATUCAVES

In [44]:
# Capitalize HNUM_STRT_TM
isp_corrected['HNUM_STRT_TM'] = isp_corrected['HNUM_STRT_TM'].str.upper()

In [45]:
# Remove nulls in HNUM_STRT and HNUM_STRT_TM
astro_corrected = astro_corrected[astro_corrected.HNUM_STRT.notnull()]
isp_corrected = isp_corrected[isp_corrected.HNUM_STRT_TM.notnull()]

print(astro_corrected.shape)
print(isp_corrected.shape)

(4793340, 57)
(10184579, 39)

In [46]:
#Remove duplicates by generating a set of HNUM_STRT_TM values
words = " ".join(isp_corrected.HNUM_STRT_TM).split() 
selection = set(words)
selection1 = list(selection)
selection2 = pd.DataFrame(selection1)
selection2.columns = ['MAPPED_HNUM_STRT_TM']
selection2.head()

                     MAPPED_HNUM_STRT_TM
0  TERMINALBASBANDARPENAWARBANDARPENAWAR
1  BLOKCFLATSRIKELANTANKUALALUMPUR
2  BLOK8PANGSAPURIUTARIDSUBANGSHAHALAM
3  PANGSAPURICITYVIEWIPOH
4  PUSATSUKANKLANGKUALALUMPURANG

In [47]:
len(selection2)

97196

In [48]:
MAPPED_STRT_HNUM_Df = astro_corrected.merge(selection2,left_on ='HNUM_STRT', right_on = 'MAPPED_HNUM_STRT_TM', how = 'inner')
MAPPED_STRT_HNUM_Df.shape

(4137051, 58)

In [49]:
MAPPED_STRT_HNUM_Df.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT,MAPPED_HNUM_STRT_TM
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,SHAHALAM,SHAHALAM
1,103,98948133,"NO6110,JALAN MANTAP 25/26 TAMAN SRI LEMB,SHAH ALAM,40400,SELANGOR",w281nrhmhtyj,AFA5F,AA18E$26$Jalan Mantap 25/126$AA6A1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"26, jalan mantap 25/126, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN MANTAP 25/126,jalan mantap 25/126,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86276456.0,SHAH ALAM,6110,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6110 ,NAN ,JALAN MANTAP 25/126 ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",6110,SHAHALAM,SHAHALAM
2,121,81129152,"6, LOT 6501,JALAN LOMBONG TIMAH 3,SEKSYEN 29 KAMPUNG LOMBONG,SHAH ALAM,40460,SELANGOR",w280z5fr2yz3,AAABF,AA1A9$AAF6D$seksyen 29$AA310$Kg lombong$Shah Alam$Selangor$Malaysia$40460,1.0,"no 6 lot 6501, jalan lombong timah 3 kampung lombong, seksyen 29, kg lombong, 40460 shah alam, selangor, malaysia",SEKSYEN 29,jalan lombong timah 3 kampung lombong,Kg lombong,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87714331.0,SHAH ALAM,6501,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6501 ,NAN ,SEKSYEN 29 ,Kg lombong ,40460 ,SHAH ALAM ,SEL",6501,SHAHALAM,SHAHALAM
3,124,99052592,"8,JALAN LUNAK SATU 25/118A,TAMAN SRI MUDA SEKSYEN 25,SHAH ALAM,40400,SELANGOR",w281q8j4s7db,AFA5F,AAD6A$8$Jalan Lunak Satu 25/118a$AACC1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"8, jalan lunak satu 25/118a, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN LUNAK SATU 25/118A,jalan lunak satu 25/118a,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,87065693.0,SHAH ALAM,8,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"8 ,NAN ,JALAN LUNAK SATU 25/118A ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",8,SHAHALAM,SHAHALAM
4,136,99060934,"LOT 3661-4,JALAN KEBUN BATU 7,SHAH ALAM,40460,SELANGOR",w280vymh6x37,AFA5F,AAA3E$3661$Jalan Kampung Batu 7$AA0A6$AA4C9$Shah Alam$Selangor$Malaysia$40460,1.0,"3661, jln kampung batu 7, 40460 shah alam, selangor, malaysia",JALAN KAMPUNG BATU 7,jln kampung batu 7,AA4C9,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87127923.0,SHAH ALAM,,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",NAN ,JALAN KAMPUNG BATU 7 ,AA4C9 ,40460 ,SHAH ALAM ,SEL",,SHAHALAM,SHAHALAM

In [50]:
MAPPED_STRT_HNUM_Df.Combined_Building.unique()

array(['NAN', '.', '. .', ..., 'BLOCK 286 THE HERITAGE CONDOMINIUM',
       'BLOK 6D APARTMENT FASA 6', 'BLOK C APARTMENT 18R13'], dtype=object)

In [51]:
MAPPED_STRT_HNUM_Df.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT,MAPPED_HNUM_STRT_TM
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,SHAHALAM,SHAHALAM
1,103,98948133,"NO6110,JALAN MANTAP 25/26 TAMAN SRI LEMB,SHAH ALAM,40400,SELANGOR",w281nrhmhtyj,AFA5F,AA18E$26$Jalan Mantap 25/126$AA6A1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"26, jalan mantap 25/126, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN MANTAP 25/126,jalan mantap 25/126,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86276456.0,SHAH ALAM,6110,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6110 ,NAN ,JALAN MANTAP 25/126 ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",6110,SHAHALAM,SHAHALAM
2,121,81129152,"6, LOT 6501,JALAN LOMBONG TIMAH 3,SEKSYEN 29 KAMPUNG LOMBONG,SHAH ALAM,40460,SELANGOR",w280z5fr2yz3,AAABF,AA1A9$AAF6D$seksyen 29$AA310$Kg lombong$Shah Alam$Selangor$Malaysia$40460,1.0,"no 6 lot 6501, jalan lombong timah 3 kampung lombong, seksyen 29, kg lombong, 40460 shah alam, selangor, malaysia",SEKSYEN 29,jalan lombong timah 3 kampung lombong,Kg lombong,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87714331.0,SHAH ALAM,6501,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6501 ,NAN ,SEKSYEN 29 ,Kg lombong ,40460 ,SHAH ALAM ,SEL",6501,SHAHALAM,SHAHALAM
3,124,99052592,"8,JALAN LUNAK SATU 25/118A,TAMAN SRI MUDA SEKSYEN 25,SHAH ALAM,40400,SELANGOR",w281q8j4s7db,AFA5F,AAD6A$8$Jalan Lunak Satu 25/118a$AACC1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"8, jalan lunak satu 25/118a, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN LUNAK SATU 25/118A,jalan lunak satu 25/118a,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,87065693.0,SHAH ALAM,8,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"8 ,NAN ,JALAN LUNAK SATU 25/118A ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",8,SHAHALAM,SHAHALAM
4,136,99060934,"LOT 3661-4,JALAN KEBUN BATU 7,SHAH ALAM,40460,SELANGOR",w280vymh6x37,AFA5F,AAA3E$3661$Jalan Kampung Batu 7$AA0A6$AA4C9$Shah Alam$Selangor$Malaysia$40460,1.0,"3661, jln kampung batu 7, 40460 shah alam, selangor, malaysia",JALAN KAMPUNG BATU 7,jln kampung batu 7,AA4C9,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87127923.0,SHAH ALAM,,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",NAN ,JALAN KAMPUNG BATU 7 ,AA4C9 ,40460 ,SHAH ALAM ,SEL",,SHAHALAM,SHAHALAM

In [52]:
MAPPED_STRT_HNUM_Df.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT,MAPPED_HNUM_STRT_TM
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,SHAHALAM,SHAHALAM
1,103,98948133,"NO6110,JALAN MANTAP 25/26 TAMAN SRI LEMB,SHAH ALAM,40400,SELANGOR",w281nrhmhtyj,AFA5F,AA18E$26$Jalan Mantap 25/126$AA6A1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"26, jalan mantap 25/126, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN MANTAP 25/126,jalan mantap 25/126,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86276456.0,SHAH ALAM,6110,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6110 ,NAN ,JALAN MANTAP 25/126 ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",6110,SHAHALAM,SHAHALAM
2,121,81129152,"6, LOT 6501,JALAN LOMBONG TIMAH 3,SEKSYEN 29 KAMPUNG LOMBONG,SHAH ALAM,40460,SELANGOR",w280z5fr2yz3,AAABF,AA1A9$AAF6D$seksyen 29$AA310$Kg lombong$Shah Alam$Selangor$Malaysia$40460,1.0,"no 6 lot 6501, jalan lombong timah 3 kampung lombong, seksyen 29, kg lombong, 40460 shah alam, selangor, malaysia",SEKSYEN 29,jalan lombong timah 3 kampung lombong,Kg lombong,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87714331.0,SHAH ALAM,6501,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6501 ,NAN ,SEKSYEN 29 ,Kg lombong ,40460 ,SHAH ALAM ,SEL",6501,SHAHALAM,SHAHALAM
3,124,99052592,"8,JALAN LUNAK SATU 25/118A,TAMAN SRI MUDA SEKSYEN 25,SHAH ALAM,40400,SELANGOR",w281q8j4s7db,AFA5F,AAD6A$8$Jalan Lunak Satu 25/118a$AACC1$Taman Sri Muda$Shah Alam$Selangor$Malaysia$40400,1.0,"8, jalan lunak satu 25/118a, taman sri muda, 40400 shah alam, selangor, malaysia",JALAN LUNAK SATU 25/118A,jalan lunak satu 25/118a,Taman Sri Muda,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,87065693.0,SHAH ALAM,8,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"8 ,NAN ,JALAN LUNAK SATU 25/118A ,Taman Sri Muda ,40400 ,SHAH ALAM ,SEL",8,SHAHALAM,SHAHALAM
4,136,99060934,"LOT 3661-4,JALAN KEBUN BATU 7,SHAH ALAM,40460,SELANGOR",w280vymh6x37,AFA5F,AAA3E$3661$Jalan Kampung Batu 7$AA0A6$AA4C9$Shah Alam$Selangor$Malaysia$40460,1.0,"3661, jln kampung batu 7, 40460 shah alam, selangor, malaysia",JALAN KAMPUNG BATU 7,jln kampung batu 7,AA4C9,Shah Alam,Selangor,Malaysia,40460,Not Match,NAN,SHAH ALAM,SEL,URBAN,87127923.0,SHAH ALAM,,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",NAN ,JALAN KAMPUNG BATU 7 ,AA4C9 ,40460 ,SHAH ALAM ,SEL",,SHAHALAM,SHAHALAM

In [53]:
MAPPED_STRT_HNUM_Df.Combined_Building.unique()

array(['NAN', '.', '. .', ..., 'BLOCK 286 THE HERITAGE CONDOMINIUM',
       'BLOK 6D APARTMENT FASA 6', 'BLOK C APARTMENT 18R13'], dtype=object)

In [54]:
MAPPED_STRT_HNUM_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4137051 entries, 0 to 4137050
Data columns (total 58 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ACCOUNT_NO              int64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  Combined_Building       object
 17  ASTRO_CITY              object
 18  ASTRO_STATE             object
 19  cust_location           object
 20  service_add_objid       float64
 21  STD_CITY                object
 22  HOUSE_NO                object
 23  Token_Sort_Ratio        float64
 24  rank                    float64
 25  Standard_Building_Name  object
 26  Unnamed: 0.1            float64
 27  Unnamed: 0.1.1          float64
 28  Unnamed: 0.1.1.1        float64
 29  DWELLING_TYPE           object
 30  AREA/SECTION            object
 31  BLOCK                   object
 32  Batch_Flag              object
 33  CONDO NAME              object
 34  STREET NAME 1           object
 35  STREET NAME 2           object
 36  STREET TYPE             object
 37  account_no              float64
 38  address_type            object
 39  service_add_1           object
 40  service_add_2           object
 41  service_add_3           object
 42  service_add_4           object
 43  service_city            object
 44  service_postcode        float64
 45  service_region          object
 46  service_state           object
 47  Agent                   float64
 48  Date                    float64
 49  Unnamed: 21             float64
 50  service_add_5           float64
 51  hnum_len                float64
 52  HNUM_origin             object
 53  Source                  object
 54  COMBINED_ADD            object
 55  ASTRO_HOUSE_NO1         object
 56  HNUM_STRT               object
 57  MAPPED_HNUM_STRT_TM     object
dtypes: float64(14), int64(2), object(42)
memory usage: 1.8+ GB

In [55]:
MAPPED_STRT_HNUM_Df.Combined_Building.unique()

array(['NAN', '.', '. .', ..., 'BLOCK 286 THE HERITAGE CONDOMINIUM',
       'BLOK 6D APARTMENT FASA 6', 'BLOK C APARTMENT 18R13'], dtype=object)

In [56]:
# Making sure that G_Condo has valid value

MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df['Combined_Building'].str.replace('[,.]','', case = False)
MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df["Combined_Building"].str.replace(",","")


MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Combined_Building'].notnull()]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Combined_Building']!= ""]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Combined_Building']!= " "]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Combined_Building']!= "NAN"]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Combined_Building']!= "nan"]
MAPPED_STRT_HNUM_Df.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

(211692, 58)

In [57]:
## Cleaning of Street Name
MAPPED_STRT_HNUM_Df.loc[MAPPED_STRT_HNUM_Df["Street_1"]=='nan',"Street_1"] = ''
MAPPED_STRT_HNUM_Df.loc[MAPPED_STRT_HNUM_Df["Street_1"]=='NAN',"Street_1"] = ''

In [58]:
MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df['Combined_Building'].str.replace('[,.]','', case = False)

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [59]:
MAPPED_STRT_HNUM_Df.Combined_Building.unique()

array(['   ', 'PANGSAPURI SRI NUANG', 'APARTMENT IDAMAN', ...,
       'BLOCK 286 THE HERITAGE CONDOMINIUM', 'BLOK 6D APARTMENT FASA 6',
       'BLOK C APARTMENT 18R13'], dtype=object)

In [60]:
MAPPED_STRT_HNUM_Df.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT,MAPPED_HNUM_STRT_TM
225707,242261,91471630,NaN,NaN,NaN,NaN,NaN,NaN,LORONG CHANGKAT DAMAI,NaN,Kampung Changkat,NaN,NaN,NaN,53100,NaN,,NaN,Wilayah Persekutuan Kuala Lumpur,NaN,80528845.0,KUALA LUMPUR,529-14A,NaN,NaN,NO,242261.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vendor,"529-14A , ,LORONG CHANGKAT DAMAI ,Kampung Changkat ,53100 ,KUALA LUMPUR ,Wilayah Persekutuan Kuala Lumpur",529-14A,KUALALUMPUR,KUALALUMPUR
1455685,74,99038138,"PANGSAPURI SRI NUANG,BLOK 1,1-5-11,JALAN NUANG U11/37,SEKSYEN U11,SHAH ALAM,40170,SELANGOR",w281ts08bskc,AAABF,AAD40$AAC54$Jalan Gunung Nuang U11/37$AABAA$U11 Shah Alam$Shah Alam$Selangor$Malaysia$40170,1.0,"jln gunung nuang u11/37, u11 shah alam, 40170 shah alam, selangor, malaysia",JALAN GUNUNG NUANG U11/37,jln gunung nuang u11/37,U11 Shah Alam,Shah Alam,Selangor,Malaysia,40170,Not Match,PANGSAPURI SRI NUANG,SHAH ALAM,SEL,URBAN,86955129.0,SHAH ALAM,1-5-11,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1-5-11 ,PANGSAPURI SRI NUANG ,JALAN GUNUNG NUANG U11/37 ,U11 Shah Alam ,40170 ,SHAH ALAM ,SEL",1-5-11,PANGSAPURISRINUANGSHAHALAM,PANGSAPURISRINUANGSHAHALAM
1455686,52261,86315312,"PANGSAPURI SRI NUANG,1-3-6,JLN,NUANG U11/37,SEKSYEN U11,SHAH ALAM,40170,SELANGOR",w281ts08bskc,AAABF,AA0F8$AA111$Jalan Gunung Nuang U11/37$AA638$U11 Shah Alam$Shah Alam$Selangor$Malaysia$40170,1.0,"jln gunung nuang u11/37, u11 shah alam, 40170 shah alam, selangor, malaysia",JALAN GUNUNG NUANG U11/37,jln gunung nuang u11/37,U11 Shah Alam,Shah Alam,Selangor,Malaysia,40170,Not Match,PANGSAPURI SRI NUANG,SHAH ALAM,SEL,URBAN,86429102.0,SHAH ALAM,1-3-6,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1-3-6 ,PANGSAPURI SRI NUANG ,JALAN GUNUNG NUANG U11/37 ,U11 Shah Alam ,40170 ,SHAH ALAM ,SEL",1-3-6,PANGSAPURISRINUANGSHAHALAM,PANGSAPURISRINUANGSHAHALAM
1455687,81848,89435743,"PANGSAPURI SRI NUANG,1-6-05,JALAN GUNUNG NUANG U11/37,BUKIT BANDARAYA,SHAH ALAM,40170,SELANGOR",w281ts08bskc,AAABF,AAF9C$AA127$Jalan Gunung Nuang U11/37$AA68C$U11 Shah Alam$Shah Alam$Selangor$Malaysia$40170,1.0,"jln gunung nuang u11/37, u11 shah alam, 40170 shah alam, selangor, malaysia",JALAN GUNUNG NUANG U11/37,jln gunung nuang u11/37,U11 Shah Alam,Shah Alam,Selangor,Malaysia,40170,Not Match,PANGSAPURI SRI NUANG,SHAH ALAM,SEL,URBAN,86350546.0,SHAH ALAM,1-6-05,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1-6-05 ,PANGSAPURI SRI NUANG ,JALAN GUNUNG NUANG U11/37 ,U11 Shah Alam ,40170 ,SHAH ALAM ,SEL",1-6-05,PANGSAPURISRINUANGSHAHALAM,PANGSAPURISRINUANGSHAHALAM
1455688,85188,91633583,"PANGSAPURI SRI NUANG,2-7-1,7 BLOK 2,JALAN NUANG U11/37,SEKSYEN U11,SHAH ALAM,40170,SELANGOR",w281ts08bskc,AAABF,AA6A2$AA5ED$Jalan Gunung Nuang U11/37$AA93E$U11 Shah Alam$Shah Alam$Selangor$Malaysia$40170,1.0,"jln gunung nuang u11/37, u11 shah alam, 40170 shah alam, selangor, malaysia",JALAN GUNUNG NUANG U11/37,jln gunung nuang u11/37,U11 Shah Alam,Shah Alam,Selangor,Malaysia,40170,Not Match,PANGSAPURI SRI NUANG,SHAH ALAM,SEL,URBAN,87580888.0,SHAH ALAM,7,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7 ,PANGSAPURI SRI NUANG ,JALAN GUNUNG NUANG U11/37 ,U11 Shah Alam ,40170 ,SHAH ALAM ,SEL",7,PANGSAPURISRINUANGSHAHALAM,PANGSAPURISRINUANGSHAHALAM

In [61]:
MAPPED_STRT_HNUM_Df['ACCOUNT_NO'].nunique()

183998

In [62]:
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.sort_values(by='Source', ascending=False)
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset=['ACCOUNT_NO','HOUSE_NO'],keep='first')
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset='ACCOUNT_NO',keep='last')

In [63]:
print(MAPPED_STRT_HNUM_Df.shape,MAPPED_STRT_HNUM_Df.ACCOUNT_NO.nunique())

(183998, 58) 183998

In [64]:
MAPPED_STRT_HNUM_Df['ACCOUNT_NO'].nunique()

183998

In [65]:
MAPPED_STRT_HNUM_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183998 entries, 225707 to 4085759
Data columns (total 58 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              183998 non-null  int64
 1   ACCOUNT_NO              183998 non-null  int64
 2   ORIGINAL_ADDRESS        90386 non-null   object
 3   GEOHASH                 90386 non-null   object
 4   LOCATION_TYPE           51778 non-null   object
 5   TRANSFORMED_ADDRESS     51778 non-null   object
 6   NUMBER_OF_RESULTS       90386 non-null   float64
 7   FORMATTED_ADDRESS       85076 non-null   object
 8   Street_1                177216 non-null  object
 9   Street_2                85948 non-null   object
 10  AREA                    174021 non-null  object
 11  CITY                    90386 non-null   object
 12  STATE                   90386 non-null   object
 13  COUNTRY                 90386 non-null   object
 14  POSTCODE                183868 non-null  object
 15  match                   90386 non-null   object
 16  Combined_Building       183998 non-null  object
 17  ASTRO_CITY              51778 non-null   object
 18  ASTRO_STATE             183830 non-null  object
 19  cust_location           14239 non-null   object
 20  service_add_objid       137860 non-null  float64
 21  STD_CITY                183789 non-null  object
 22  HOUSE_NO                145363 non-null  object
 23  Token_Sort_Ratio        6783 non-null    float64
 24  rank                    6783 non-null    float64
 25  Standard_Building_Name  183998 non-null  object
 26  Unnamed: 0.1            169759 non-null  float64
 27  Unnamed: 0.1.1          19575 non-null   float64
 28  Unnamed: 0.1.1.1        19575 non-null   float64
 29  DWELLING_TYPE           19575 non-null   object
 30  AREA/SECTION            27891 non-null   object
 31  BLOCK                   19825 non-null   object
 32  Batch_Flag              3282 non-null    object
 33  CONDO NAME              1859 non-null    object
 34  STREET NAME 1           2505 non-null    object
 35  STREET NAME 2           344 non-null     object
 36  STREET TYPE             2524 non-null    object
 37  account_no              3282 non-null    float64
 38  address_type            3183 non-null    object
 39  service_add_1           3086 non-null    object
 40  service_add_2           1872 non-null    object
 41  service_add_3           3261 non-null    object
 42  service_add_4           2366 non-null    object
 43  service_city            3282 non-null    object
 44  service_postcode        3282 non-null    float64
 45  service_region          3262 non-null    object
 46  service_state           3282 non-null    object
 47  Agent                   0 non-null       float64
 48  Date                    0 non-null       float64
 49  Unnamed: 21             0 non-null       float64
 50  service_add_5           0 non-null       float64
 51  hnum_len                3128 non-null    float64
 52  HNUM_origin             76147 non-null   object
 53  Source                  150184 non-null  object
 54  COMBINED_ADD            183998 non-null  object
 55  ASTRO_HOUSE_NO1         145363 non-null  object
 56  HNUM_STRT               183998 non-null  object
 57  MAPPED_HNUM_STRT_TM     183998 non-null  object
dtypes: float64(14), int64(2), object(42)
memory usage: 82.8+ MB

In [66]:
MAPPED_STRT_HNUM_Df['ACCOUNT_NO'] = MAPPED_STRT_HNUM_Df['ACCOUNT_NO'].astype(str)
MAPPED_STRT_HNUM_Df['ACCOUNT_NO'] = MAPPED_STRT_HNUM_Df['ACCOUNT_NO'].str.replace('\.0','', case = False)

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [67]:
P1_MDU = MAPPED_STRT_HNUM_Df

In [68]:
isp_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10184579 entries, 0 to 10184578
Data columns (total 39 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ADDRESS_KEY             float64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  STD_CITY                object
 17  BuildingName            object
 18  City                    object
 19  HouseNo                 object
 20  Postcode                object
 21  Section                 object
 22  ServiceType             object
 23  State                   object
 24  StreetName              object
 25  StreetType              object
 26  ADDRESS                 object
 27  ADDRESS_MDU             object
 28  Address_Type            object
 29  Combined_Building       object
 30  Source                  object
 31  Standard_Building_Name  object
 32  Unnamed: 0.1            float64
 33  FloorNo                 object
 34  Unnamed: 0.1.1          float64
 35  Status                  object
 36  ACCOUNT_NO              object
 37  TM_HOUSE_NO1            object
 38  HNUM_STRT_TM            object
dtypes: float64(4), int64(1), object(34)
memory usage: 3.0+ GB

### Generating UAMS format and getting ServiceType

In [69]:
STRT_P1 = MAPPED_STRT_HNUM_Df
STRT_P1['Street_1'] = STRT_P1['Street_1'].astype(str)

## Removing street names that start with "AA"
STRT_P1.reset_index(inplace=True, drop=True)
test = STRT_P1[STRT_P1['Street_1'].apply(lambda x: x.startswith('AA'))].index
test = list(test)
STRT_P1.loc[test,'Street_1'] = ''

## when GAPI gives the same thing for Street_1 and Street_2 the column match value is 'Match'
## so we change street_2 to empty string ''
STRT_P1.loc[STRT_P1['match']=='Match','Street_2'] = ''
STRT_P1[STRT_P1['match']=='Match']

import re

## function to extract street type from stree column
def extract_street(item):

    street_type = ""
    
    r1 = "JALAN|LORONG|CHANGKAT|LAMAN|LAHAT|LEBUH|LEBUHRAYA|LENGKOK|LINGKARAN|PERSIARAN"


    m = re.search(r1,item)
    if m:
        street_type = m.group()
    return street_type        

## using the above function here       
STRT_P1["Street_Type_1"] = STRT_P1["Street_1"].apply(extract_street)
STRT_P1["Street_Type_2"] = STRT_P1["Street_2"].map(str).apply(extract_street)


## Removing street type from street_1 column to keep the street name only
street_type_list = ['JALAN ', 'LORONG ','CHANGKAT ', 'LAMAN ', 'LAHAT ', 'LEBUH ', 'LEBUHRAYA ', 'LENGKOK ','LINGKARAN ', 'PERSIARAN ' ]
STRT_P1["Street_1"] = STRT_P1["Street_1"].str.upper()
STRT_P1["Street_1_New"] = STRT_P1["Street_1"].str.replace('|'.join(street_type_list), '')

## Removing street type from street_2 column to keep the street name only
STRT_P1["Street_2"] = STRT_P1["Street_2"].str.upper()
STRT_P1["Street_2_New"] = STRT_P1["Street_2"].str.replace('|'.join(street_type_list), '')
STRT_P1.head()

## Getting the ServiceType from ISP data---- 22Jun  >> remove ServiceType ERROR

service_list = isp_corrected[['ServiceType','HNUM_STRT_TM']].drop_duplicates()
service_list["ServiceType"] = service_list["ServiceType"].str.upper()
service_list = service_list[service_list['ServiceType']!='ERROR']

## left join mapped data with the above dataframe on the mapping key to add serviceType to the mapped data
New_fields1 = pd.merge(STRT_P1,service_list,left_on ='HNUM_STRT',right_on='HNUM_STRT_TM', how = 'left')
New_fields1.info()


#MDU NEW
New_fields2 = New_fields1[['ACCOUNT_NO','service_add_objid','ASTRO_HOUSE_NO1',
                           'Combined_Building','Street_Type_1','Street_1_New','Standard_Building_Name', 
                           'Street_Type_2','Street_2_New','AREA','POSTCODE','STD_CITY','ASTRO_STATE', 'ServiceType', 'HNUM_STRT_TM']]

## Adding a new column for the ISP_name and name it Servicable
New_fields2['Servicable']= str(ISP_Name)


## ---- 22Jun  >> keep both ServiceType FTTH/VDSL
## ---- 22Jun  >> New_fields3 = New_fields2.drop_duplicates(subset= ['ACCOUNT_NO','ServiceType'], keep = 'first')

## Removing duplicate rows and keep FTTH only. Sort the ServiceType values (FTTH, VDSL, NAN) and keep the first only (FTTH)
New_fields3 = New_fields2.sort_values(['ServiceType']).drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')


import pandas as pd

astro_cleaned = New_fields3


# Fix HOUSE_NO that are converted to date
astro_cleaned['HOUSE_NO'] = astro_cleaned['ASTRO_HOUSE_NO1'] 
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JAN-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JAN","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jan-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jan","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("FEB-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-FEB",'-02', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Feb-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Feb","-02", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAR-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAR","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Mar-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Mar","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("APR-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-APR","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Apr-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Apr","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAY-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAY","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("May-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-May","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUN-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUN","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jun-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jun","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUL-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUL","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jul-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jul","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("AUG-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-AUG","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Aug-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Aug","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("SEP-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-SEP","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Sep-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Sep","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("OCT-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-OCT","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Oct-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Oct","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("NOV-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-NOV","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Nov-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Nov","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("DEC-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-DEC","-12", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Dec-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Dec","-12", case = False)

# Fix HOUSE_NO that are converted to date (DD/MM/YYYY format)
# Filter date HOUSE_NO
date_house = astro_cleaned[astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True]
# Spliting the HOUSE_NO
date_house['block'] = (date_house.HOUSE_NO.str[0:2])
date_house['floor'] = (date_house.HOUSE_NO.str[3:5])
date_house['unit'] = (date_house.HOUSE_NO.str[8:10])
# Combine the split HOUSE_NO with -
date_house['HOUSE_NO_ASTRO'] = date_house['block'] + "-" + date_house['floor'] + "-" + date_house['unit']
# Filter not date HOUSE_NO
not_date_house = astro_cleaned[~(astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True)]
not_date_house['HOUSE_NO_ASTRO'] = not_date_house['HOUSE_NO']
not_date_house.head()
# Append the 2 df again
frame = [date_house,not_date_house]
astro_cleaned = pd.concat(frame)
astro_cleaned.shape

# Remove additional column created to combine HOUSE_NO
astro_cleaned = astro_cleaned.drop(['block','floor','unit'],axis=1)
astro_cleaned.info()


## pad the values not to convert to date again
astro_cleaned['ASTRO_HOUSE_NO1']= astro_cleaned['HOUSE_NO_ASTRO'].str.pad(width=10)


#selecting specific columns
astro_cleaned2 = astro_cleaned[['ACCOUNT_NO','service_add_objid', 'ASTRO_HOUSE_NO1', 
                                   'Combined_Building','Street_Type_1','Street_1_New','Street_Type_2',
                                   'Street_2_New', 'AREA','STD_CITY' ,'POSTCODE', 'ASTRO_STATE',
                                   'Standard_Building_Name',
                                   'ServiceType', 'Servicable', 'HNUM_STRT_TM']]


UAMS_MDU_Base = astro_cleaned2

## Removing decimal part from ACOUNT_NO
UAMS_MDU_Base['ACCOUNT_NO'] = UAMS_MDU_Base['ACCOUNT_NO'].astype(str)
UAMS_MDU_Base['ACCOUNT_NO'] = UAMS_MDU_Base['ACCOUNT_NO'].str.replace('\.0','', case = False)

print(UAMS_MDU_Base.shape)

## Remoning duplicate rows of mapped data
UAMS_MDU_Base = UAMS_MDU_Base.drop_duplicates(subset=['ACCOUNT_NO'], keep='first')
print(UAMS_MDU_Base.shape)



UAMS_MDU_Base=UAMS_MDU_Base.rename({'ASTRO_HOUSE_NO1':'House_No', 
                                      'ACCOUNT_NO': 'Account_No'}, axis=1)


UAMS_MDU_Base.to_csv('UAMS_Format_stndrd_'+str(ISP_Name)+'_P1_MDU.csv') # Save in pipeline bucket - to be used in UAMS generation

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: FutureWarning: The default value of regex will change from True to False in a future version.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235982 entries, 0 to 235981
Data columns (total 64 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              235982 non-null  int64
 1   ACCOUNT_NO              235982 non-null  object
 2   ORIGINAL_ADDRESS        112552 non-null  object
 3   GEOHASH                 112552 non-null  object
 4   LOCATION_TYPE           64824 non-null   object
 5   TRANSFORMED_ADDRESS     64824 non-null   object
 6   NUMBER_OF_RESULTS       112552 non-null  float64
 7   FORMATTED_ADDRESS       105887 non-null  object
 8   Street_1                235982 non-null  object
 9   Street_2                107443 non-null  object
 10  AREA                    223291 non-null  object
 11  CITY                    112552 non-null  object
 12  STATE                   112552 non-null  object
 13  COUNTRY                 112552 non-null  object
 14  POSTCODE                235837 non-null  object
 15  match                   112552 non-null  object
 16  Combined_Building       235982 non-null  object
 17  ASTRO_CITY              64824 non-null   object
 18  ASTRO_STATE             235750 non-null  object
 19  cust_location           17497 non-null   object
 20  service_add_objid       177578 non-null  float64
 21  STD_CITY                235745 non-null  object
 22  HOUSE_NO                187412 non-null  object
 23  Token_Sort_Ratio        8464 non-null    float64
 24  rank                    8464 non-null    float64
 25  Standard_Building_Name  235982 non-null  object
 26  Unnamed: 0.1            218485 non-null  float64
 27  Unnamed: 0.1.1          24009 non-null   float64
 28  Unnamed: 0.1.1.1        24009 non-null   float64
 29  DWELLING_TYPE           24009 non-null   object
 30  AREA/SECTION            34786 non-null   object
 31  BLOCK                   25450 non-null   object
 32  Batch_Flag              4003 non-null    object
 33  CONDO NAME              2275 non-null    object
 34  STREET NAME 1           3059 non-null    object
 35  STREET NAME 2           427 non-null     object
 36  STREET TYPE             3091 non-null    object
 37  account_no              4003 non-null    float64
 38  address_type            3873 non-null    object
 39  service_add_1           3776 non-null    object
 40  service_add_2           2268 non-null    object
 41  service_add_3           3976 non-null    object
 42  service_add_4           2890 non-null    object
 43  service_city            4003 non-null    object
 44  service_postcode        4003 non-null    float64
 45  service_region          3978 non-null    object
 46  service_state           4003 non-null    object
 47  Agent                   0 non-null       float64
 48  Date                    0 non-null       float64
 49  Unnamed: 21             0 non-null       float64
 50  service_add_5           0 non-null       float64
 51  hnum_len                3822 non-null    float64
 52  HNUM_origin             95055 non-null   object
 53  Source                  194476 non-null  object
 54  COMBINED_ADD            235982 non-null  object
 55  ASTRO_HOUSE_NO1         187412 non-null  object
 56  HNUM_STRT               235982 non-null  object
 57  MAPPED_HNUM_STRT_TM     235982 non-null  object
 58  Street_Type_1           235982 non-null  object
 59  Street_Type_2           235982 non-null  object
 60  Street_1_New            235982 non-null  object
 61  Street_2_New            107443 non-null  object
 62  ServiceType             235591 non-null  object
 63  HNUM_STRT_TM            235591 non-null  object
dtypes: float64(14), int64(1), object(49)
memory usage: 117.0+ MB

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:139: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183998 entries, 100414 to 235482
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ACCOUNT_NO              183998 non-null  object
 1   service_add_objid       137860 non-null  float64
 2   ASTRO_HOUSE_NO1         145363 non-null  object
 3   Combined_Building       183998 non-null  object
 4   Street_Type_1           183998 non-null  object
 5   Street_1_New            183998 non-null  object
 6   Standard_Building_Name  183998 non-null  object
 7   Street_Type_2           183998 non-null  object
 8   Street_2_New            85948 non-null   object
 9   AREA                    174021 non-null  object
 10  POSTCODE                183868 non-null  object
 11  STD_CITY                183789 non-null  object
 12  ASTRO_STATE             183830 non-null  object
 13  ServiceType             183607 non-null  object
 14  HNUM_STRT_TM            183607 non-null  object
 15  Servicable              183998 non-null  object
 16  HOUSE_NO                145363 non-null  object
 17  HOUSE_NO_ASTRO          145363 non-null  object
dtypes: float64(1), object(17)
memory usage: 26.7+ MB

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:167: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(183998, 16)
(183998, 16)

In [70]:
UAMS_MDU_Base.shape

(183998, 16)

### RPA Base generation - to be saved in RPA bucket

In [71]:
## Revision 26Mar
### Getting the ISP fields
from datetime import datetime
now = datetime.now()
# Capitalize HNUM_STRT_TM
if ISP_Name == 'TM':
    rpa_isp_corrected = isp_corrected

    rpa_isp_corrected["ISP_ADDRESS"] = rpa_isp_corrected["BuildingName"].map(str) + " ," + \
                                rpa_isp_corrected["HouseNo"].map(str) + " ," + \
                                rpa_isp_corrected["StreetType"].map(str) + " ," + \
                                rpa_isp_corrected["StreetName"].map(str) + " ," + \
                                rpa_isp_corrected["Postcode"].map(str)+ " ," +\
                                rpa_isp_corrected["City"].map(str)+ " ," + \
                                rpa_isp_corrected["State"].map(str)
    
    rpa_isp_corrected['TM_HOUSE_NO1']= rpa_isp_corrected['HouseNo'].str.pad(width=10)
    
    New_Columns = rpa_isp_corrected.drop_duplicates(subset=['BuildingName','HouseNo','StreetType','Street_1','Postcode','STD_CITY','State'],
                                                          keep='first')
    
    distinct_mdu_p1 = New_Columns[['HNUM_STRT_TM','TM_HOUSE_NO1','HouseNo','BuildingName',
                                      'StreetType','StreetName',
                                      'Section','Postcode','City',
                                      'State','ServiceType', 'ISP_ADDRESS']]
    
    
    
    distinct_mdu_p1['HOUSE_NO_TM'] = distinct_mdu_p1['TM_HOUSE_NO1'].astype(str)
    distinct_mdu_p1 = distinct_mdu_p1.drop('TM_HOUSE_NO1',axis=1)
  
    distinct_mdu_p1 = distinct_mdu_p1[distinct_mdu_p1['BuildingName'].notnull()]
    print(distinct_mdu_p1.shape)
    
    # Rerrange columns
   
    distinct_mdu_p1["Mix_key"] = distinct_mdu_p1["StreetName"].map(str) + " ," + \
                                distinct_mdu_p1["HNUM_STRT_TM"].map(str)
    distinct_mdu_p1 = distinct_mdu_p1.drop_duplicates(subset=['Mix_key'], keep='first')
    
    distinct_mdu_p1 = distinct_mdu_p1[['HOUSE_NO_TM', 'BuildingName', 'StreetType', 'StreetName', 'Section',
                                           'Postcode', 'City', 'State', 'ServiceType', 'ISP_ADDRESS','HNUM_STRT_TM'
                                          ,'Mix_key' ]]            
    
    
    distinct_mdu_p1.to_csv('Distinct_Fields_P1_MDU_Mar_V1.csv',index=False)

else:
    print('Not TM')

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(2910146, 12)

In [72]:
# distinct_mdu_p1.shape

In [73]:
# distinct_mdu_p1 = pd.read_csv('Distinct_Fields_P1_MDU.csv')
# distinct_mdu_p1.head()

In [74]:
# distinct_mdu_p1.isna().sum()

# b = distinct_mdu_p1[distinct_mdu_p1['State'].isnull()]
# b.head()

In [75]:
print('done')

done

In [76]:
# Remove the mapped account no


MAPPED_STRT_HNUM_Df_list = list(MAPPED_STRT_HNUM_Df['ACCOUNT_NO'])
astro_unmapped = astro_corrected[~astro_corrected['ACCOUNT_NO'].isin(MAPPED_STRT_HNUM_Df_list)]
print(astro_unmapped.shape,astro_unmapped.ACCOUNT_NO.nunique())

(4793340, 57) 4283965

### P1 Mapping - SDU

In [77]:
## Using the unmapped base from P1 MDU mapping as the new astro_corrected
astro_corrected = astro_unmapped

In [78]:
isp_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10184579 entries, 0 to 10184578
Data columns (total 40 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ADDRESS_KEY             float64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  STD_CITY                object
 17  BuildingName            object
 18  City                    object
 19  HouseNo                 object
 20  Postcode                object
 21  Section                 object
 22  ServiceType             object
 23  State                   object
 24  StreetName              object
 25  StreetType              object
 26  ADDRESS                 object
 27  ADDRESS_MDU             object
 28  Address_Type            object
 29  Combined_Building       object
 30  Source                  object
 31  Standard_Building_Name  object
 32  Unnamed: 0.1            float64
 33  FloorNo                 object
 34  Unnamed: 0.1.1          float64
 35  Status                  object
 36  ACCOUNT_NO              object
 37  TM_HOUSE_NO1            object
 38  HNUM_STRT_TM            object
 39  ISP_ADDRESS             object
dtypes: float64(4), int64(1), object(35)
memory usage: 3.1+ GB

In [79]:
print(isp_corrected.shape)
print(astro_corrected.shape)

(10184579, 40)
(4793340, 57)

In [80]:
print(isp_corrected.shape)
print(astro_corrected.shape)

(10184579, 40)
(4793340, 57)

In [81]:
# astro_corrected.ACCOUNT_NO.nunique()

In [82]:
# Add new column in astro_corrected -- HOUSE_NO + G_Street_Name_1 + G_City = HNUM_STRT
astro_corrected["HNUM_STRT"] = astro_corrected["HOUSE_NO"].map(str) + " ," + \
                            astro_corrected["Street_1"].map(str) + " ," + \
                            astro_corrected["STD_CITY"].map(str)
astro_corrected.tail()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
4793335,3946178,89914373,"NO 23,LOT 1594,JALAN KUCHING TIMUR 3 LORONG 5,TAMAN TUNKU,MIRI,98000,SARAWAK",w8c09cj5q741,AFA5F,AAC73$3$Lorong 5$AAD00$Taman Tunku$Miri$Sarawak$Malaysia$98000,2.0,NaN,LORONG 5,NaN,Taman Tunku,Miri,Sarawak,Malaysia,98000,Not Match,NAN,Miri,SAR,NaN,17436772.0,MIRI,23,NaN,NaN,NO,3300660.0,NaN,NaN,NaN,TAMAN TUNKU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"23 ,NAN ,LORONG 5 ,Taman Tunku ,98000 ,MIRI ,SAR",23,"23 ,LORONG 5 ,MIRI"
4793336,3946179,83412220,"LOT 3745-2,JALAN KEMAMAN DUNGUN,KG GONG CENGAL,KEMASEK,24200,TERENGGANU",w2cd1zwq4j4t,AFA5F,AA936$2$Jalan Kemaman - Dungun$AAC1A$AAEFF$Paka$Terengganu$Malaysia$23100,2.0,NaN,JALAN KEMAMAN - DUNGUN,NaN,AAEFF,Paka,Terengganu,Malaysia,23100,Not Match,NAN,KEMASEK,TRG,NaN,26237575.0,PAKA,,NaN,NaN,NO,3300661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,",NAN ,JALAN KEMAMAN - DUNGUN ,AAEFF ,23100 ,PAKA ,TRG",,",JALAN KEMAMAN - DUNGUN ,PAKA"
4793337,3946180,89364640,"LOT 3476 PAD 37-1,JALAN SRI TANJUNG,PARIT AMAT DARAT,MUAR,84000,JOHOR",w22gx3xmx030,AFA5F,AAC30$37$Jalan Sri Tanjung$AA678$AAA50$Muar$Johor$Malaysia$84000,2.0,NaN,JALAN SRI TANJUNG,NaN,AAA50,Muar,Johor,Malaysia,84000,Not Match,NAN,MUAR,JOH,NaN,20609063.0,MUAR,3476,NaN,NaN,NO,3300662.0,NaN,NaN,NaN,PARIT AMAT DARAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"3476 ,NAN ,JALAN SRI TANJUNG ,AAA50 ,84000 ,MUAR ,JOH",3476,"3476 ,JALAN SRI TANJUNG ,MUAR"
4793338,3946181,97062032,"NO.PT 501,TAMAN JINTAN JAYA,KG TAWANG,BACHOK,16300,KELANTAN",w30fb0w9eccf,AAABF,AA4F5$AA0FA$Jalan Tawang$AA4EF$AA673$Kota Bharu$Kelantan$Malaysia$16150,2.0,NaN,JALAN TAWANG,NaN,AA673,Kota Bharu,Kelantan,Malaysia,16150,Not Match,NAN,Bachok,KEL,NaN,74064444.0,KOTA BHARU,NaN,NaN,NaN,NO,3300663.0,NaN,NaN,NaN,KAMPUNG TAWANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"nan ,NAN ,JALAN TAWANG ,AA673 ,16150 ,KOTA BHARU ,KEL",NaN,"nan ,JALAN TAWANG ,KOTA BHARU"
4793339,3946182,83543625,"KG SAGIL PARIT 1,TLKPS 27 5/1,REDANG,TANGKAK,84020,JOHOR",w22uyzq23spg,AAABF,AAD9B$AAFEA$Jalan Sagil Parit 1$AAF80$AA959$Bukit Gambir$Johor$Malaysia$84900,2.0,NaN,JALAN SAGIL PARIT 1,NaN,AA959,Bukit Gambir,Johor,Malaysia,84900,Not Match,NAN,TANGKAK,JOH,NaN,77548302.0,BUKIT GAMBIR,NaN,NaN,NaN,NO,3300664.0,NaN,NaN,NaN,REDANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"nan ,NAN ,JALAN SAGIL PARIT 1 ,AA959 ,84900 ,BUKIT GAMBIR ,JOH",NaN,"nan ,JALAN SAGIL PARIT 1 ,BUKIT GAMBIR"

In [83]:
# Clean HNUM_STRT column
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('nan ','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('[,.]','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(" ","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace("\.","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(",","")

astro_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

(4793340, 57)

In [84]:
# Capitalize HNUM_STRT
astro_corrected['HNUM_STRT'] = astro_corrected['HNUM_STRT'].str.upper()

In [85]:
astro_corrected.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,1JALANKEMUNINGPALMA33/39DSHAHALAM
1,1,99018045,"MARINOX SKY VILLAS,28A-29-2,JALAN DESIRAN TANJUNG 4,TANJONG TOKONG,10470,PULAU PINANG",w0zr48gw5ekm,AB21D,AAD7A$28A$Jalan Desiran Tanjung 4$AA557$Seri Tanjung Pinang$Tanjung Tokong$Pulau Pinang$Malaysia$10470,1.0,"28a, jalan desiran tanjung 4, seri tanjung pinang, 10470 tanjung tokong, pulau pinang, malaysia",JALAN DESIRAN TANJUNG 4,jalan desiran tanjung 4,Seri Tanjung Pinang,Tanjung Tokong,Pulau Pinang,Malaysia,10470,Match,MARINOX SKY VILLAS,TANJONG TOKONG,PNG,URBAN,86795196.0,TANJUNG TOKONG,28A-29-2,NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"28A-29-2 ,MARINOX SKY VILLAS ,JALAN DESIRAN TANJUNG 4 ,Seri Tanjung Pinang ,10470 ,TANJUNG TOKONG ,PNG",28A-29-2,28A-29-2JALANDESIRANTANJUNG4TANJUNGTOKONG
2,2,96056470,"NO. 230A,SUSUR DESA BIDARA 11,TAMAN DESA BIDARA,KUALA KETIL,09300,KEDAH",w0zxf7qy687j,AB21D,AAD8F$969$Susur Bidara 3$AAEDD$Taman Desa Bidara$Kuala Ketil$Kedah$Malaysia$09300,1.0,"969, susur bidara 3, taman desa bidara, 09300 kuala ketil, kedah, malaysia",SUSUR BIDARA 3,susur bidara 3,Taman Desa Bidara,Kuala Ketil,Kedah,Malaysia,09300,Match,NAN,KUALA KETIL,KED,RURAL,88492386.0,KUALA KETIL,230,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"230 ,NAN ,SUSUR BIDARA 3 ,Taman Desa Bidara ,09300 ,KUALA KETIL ,KED",230,230SUSURBIDARA3KUALAKETIL
3,3,98210672,"NO 10-G-T2,JALAN MENARA UTAMA,TAMAN D MENARA,BUKIT CHANGGANG,BANTING,42700,SELANGOR",w2820b4ur53b,AAABF,AA422$AA697$Jalan Menara Utama$AA324$AA50E$Banting$Selangor$Malaysia$AAC99,1.0,"jalan menara utama, banting, selangor, malaysia",JALAN MENARA UTAMA,jalan menara utama,AA50E,Banting,Selangor,Malaysia,AAC99,Match,NAN,BANTING,SEL,URBAN,86703504.0,BANTING,10,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10 ,NAN ,JALAN MENARA UTAMA ,AA50E ,AAC99 ,BANTING ,SEL",10,10JALANMENARAUTAMABANTING
4,4,99016633,"C2-2-2 BLK. C2 PERSIARAN,MULTIMEDIA CYBERIA SMARTHOMES,CYBERJAYA,63000,SELANGOR",w2828ue531jx,AAABF,AAF4F$AA3B8$Persiaran Bestari$AA452$Cyberjaya$Cyberjaya$Selangor$Malaysia$63000,1.0,"sp 84 the arc cyberjaya, persiaran bestari, cyberjaya, 63000 cyberjaya, selangor, malaysia",PERSIARAN BESTARI,persiaran bestari,Cyberjaya,Cyberjaya,Selangor,Malaysia,63000,Match,NAN,CYBERJAYA,SEL,URBAN,86785711.0,CYBERJAYA,C2-2-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C2-2-2 ,NAN ,PERSIARAN BESTARI ,Cyberjaya ,63000 ,CYBERJAYA ,SEL",C2-2-2,C2-2-2PERSIARANBESTARICYBERJAYA

In [86]:
pd.set_option('display.max_columns', 500)

In [87]:
# Add new column in isp_corrected -- HouseNo + G_Street_Name_1 + G_City = HNUM_STRT_TM
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HouseNo"].map(str) + " ," + \
                            isp_corrected["Street_1"].map(str) + " ," + \
                            isp_corrected["STD_CITY"].map(str)
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO,TM_HOUSE_NO1,HNUM_STRT_TM,ISP_ADDRESS
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"A291 ,JALAN TELAGA BATU ,KUALA TERENGGANU","RUMAH MURAH , A291 ,JALAN ,TELAGA DAING ,21300 ,KUALA NERUS ,TERENGGANU"
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"A291 ,JALAN TELAGA BATU ,KUALA TERENGGANU","RUMAH MURAH , A291 ,JALAN ,TELAGA DAING ,21300 ,KUALA NERUS ,TERENGGANU"
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-01,"C-G-01 ,JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-01 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-02,"C-G-02 ,JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-02 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-03,"C-G-03 ,JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-03 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"

In [88]:
# Clean HNUM_STRT_TM column
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('nan ','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('[,.]','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(" ","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(",","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace("\.","")

isp_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

(10184579, 40)

In [89]:
# Capitalize HNUM_STRT_TM
isp_corrected['HNUM_STRT_TM'] = isp_corrected['HNUM_STRT_TM'].str.upper()

In [90]:
# Remove nulls in HNUM_STRT and HNUM_STRT_TM
astro_corrected = astro_corrected[astro_corrected.HNUM_STRT.notnull()]
isp_corrected = isp_corrected[isp_corrected.HNUM_STRT_TM.notnull()]

print(astro_corrected.shape)
print(isp_corrected.shape)

(4793340, 57)
(10184579, 40)

In [91]:
words = " ".join(isp_corrected.HNUM_STRT_TM).split() 
selection = set(words)
selection1 = list(selection)
selection2 = pd.DataFrame(selection1)
selection2.columns = ['MAPPED_HNUM_STRT_TM']
selection2.head()

                   MAPPED_HNUM_STRT_TM
0  47JALANNURI11SEGAMAT
1  357JALANBERSATUKUALAKEDAH
2  142LEBUHGAMBUSKLANG
3  JB4605JALANSERIASAHAN3ASAHAN
4  20-8-28JALANBUKITANGKASAKUALALUMPUR

In [92]:
MAPPED_STRT_HNUM_Df = astro_corrected.merge(selection2,left_on ='HNUM_STRT', right_on = 'MAPPED_HNUM_STRT_TM', how = 'inner')
MAPPED_STRT_HNUM_Df.shape

(2190783, 58)

In [93]:
MAPPED_STRT_HNUM_Df.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT,MAPPED_HNUM_STRT_TM
0,0,99017687,"1,JALAN KEMUNING PALMA 33/39D,KEMUNING UTAMA,SHAH ALAM,40400,SELANGOR",w281nez29e90,AFA5F,AAC44$1$Jalan Kemuning Palma 33/39d$AAD4C$Kemuning Utama$Shah Alam$Selangor$Malaysia$40400,1.0,"1, jalan kemuning palma 33/39d, kemuning utama, 40400 shah alam, selangor, malaysia",JALAN KEMUNING PALMA 33/39D,jalan kemuning palma 33/39d,Kemuning Utama,Shah Alam,Selangor,Malaysia,40400,Match,NAN,SHAH ALAM,SEL,URBAN,86792229.0,SHAH ALAM,1,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 ,NAN ,JALAN KEMUNING PALMA 33/39D ,Kemuning Utama ,40400 ,SHAH ALAM ,SEL",1,1JALANKEMUNINGPALMA33/39DSHAHALAM,1JALANKEMUNINGPALMA33/39DSHAHALAM
1,7,86371528,"7-5-2,JALAN 8/40,TAMAN PUSAT KEPONG,KUALA LUMPUR,52100,WILAYAH PERSUKUTUAN",w2861q8qbm8e,AB21D,AA27D$7$Jalan 8/40$AA4F9$Taman Pusat Kepong$Kuala Lumpur$Wilayah Persekutuan Kuala Lumpur$Malaysia$52000,1.0,"7, jalan 8/40, taman pusat kepong, 52000 kuala lumpur, wilayah persekutuan kuala lumpur, malaysia",JALAN 8/40,jalan 8/40,Taman Pusat Kepong,Kuala Lumpur,Wilayah Persekutuan Kuala Lumpur,Malaysia,52000,Match,NAN,KUALA LUMPUR,WIL,URBAN,85983438.0,KUALA LUMPUR,7-5-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7-5-2 ,NAN ,JALAN 8/40 ,Taman Pusat Kepong ,52000 ,KUALA LUMPUR ,WIL",7-5-2,7-5-2JALAN8/40KUALALUMPUR,7-5-2JALAN8/40KUALALUMPUR
2,8,99018564,"KAMPUNG KG KAURAN,KENINGAU,89000,SABAH",w8fw4wd9fy7v,AAABF,AACA8$AAE09$Jalan Kauran$AA046$AA1E2$Keningau$Sabah$Malaysia$89000,1.0,"jalan kauran, 89000 keningau, sabah, malaysia",JALAN KAURAN,jalan kauran,AA1E2,Keningau,Sabah,Malaysia,89000,Match,NAN,KENINGAU,SAB,URBAN,86801249.0,KENINGAU,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan ,NAN ,JALAN KAURAN ,AA1E2 ,89000 ,KENINGAU ,SAB",NaN,JALANKAURANKENINGAU,JALANKAURANKENINGAU
3,6496,99135006,"KG KAURAN,KENINGAU,89000,SABAH",w8fw4wd9fy7v,AAABF,AAF5E$AA887$Jalan Kauran$AAF36$AA6A7$Keningau$Sabah$Malaysia$89000,1.0,"jalan kauran, 89000 keningau, sabah, malaysia",JALAN KAURAN,jalan kauran,AA6A7,Keningau,Sabah,Malaysia,89000,Match,NAN,KENINGAU,SAB,URBAN,87712417.0,KENINGAU,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan ,NAN ,JALAN KAURAN ,AA6A7 ,89000 ,KENINGAU ,SAB",NaN,JALANKAURANKENINGAU,JALANKAURANKENINGAU
4,7608,99101464,"KG KAURAN,KENINGAU,89000,SABAH",w8fw4wd9fy7v,AAABF,AA644$AAF55$Jalan Kauran$AA458$AA963$Keningau$Sabah$Malaysia$89000,1.0,"jalan kauran, 89000 keningau, sabah, malaysia",JALAN KAURAN,jalan kauran,AA963,Keningau,Sabah,Malaysia,89000,Match,NAN,KENINGAU,SAB,URBAN,87426638.0,KENINGAU,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan ,NAN ,JALAN KAURAN ,AA963 ,89000 ,KENINGAU ,SAB",NaN,JALANKAURANKENINGAU,JALANKAURANKENINGAU

In [94]:
# Making sure that HOUSE_NO has valid value
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['HOUSE_NO'].notnull()]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['HOUSE_NO']!= ""]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['HOUSE_NO']!= " "]
MAPPED_STRT_HNUM_Df.shape

(1766337, 58)

In [95]:
# Making sure that G_Street_Name_1 has valid value
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1'].notnull()]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= ""]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= " "]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= "NAN"]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= "nan"]
MAPPED_STRT_HNUM_Df.shape

(1758022, 58)

In [ ]:
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.sort_values(by='Source', ascending=False)
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset=['ACCOUNT_NO','HOUSE_NO'],keep='first')
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset='ACCOUNT_NO',keep='last')

In [ ]:
print(MAPPED_STRT_HNUM_Df.shape, MAPPED_STRT_HNUM_Df.ACCOUNT_NO.nunique())

(1624732, 58) 1624732

In [ ]:
P1_SDU = MAPPED_STRT_HNUM_Df

### Generating UAMS format and getting ServiceType

In [ ]:
STRT_P1 = MAPPED_STRT_HNUM_Df
STRT_P1['Street_1'] = STRT_P1['Street_1'].astype(str)

STRT_P1.reset_index(inplace=True, drop=True)
test = STRT_P1[STRT_P1['Street_1'].apply(lambda x: x.startswith('AA'))].index
test = list(test)

STRT_P1.loc[test,'Street_1'] = ''

STRT_P1.loc[STRT_P1['match']=='Match','Street_2'] = ''
STRT_P1[STRT_P1['match']=='Match']

import re

def extract_street(item):

    street_type = ""
    
    r1 = "JALAN|LORONG|CHANGKAT|LAMAN|LAHAT|LEBUH|LEBUHRAYA|LENGKOK|LINGKARAN|PERSIARAN"


    m = re.search(r1,item)
    if m:
        street_type = m.group()
    return street_type        
        
STRT_P1["Street_Type_1"] = STRT_P1["Street_1"].apply(extract_street)
STRT_P1["Street_Type_2"] = STRT_P1["Street_2"].map(str).apply(extract_street)
STRT_P1.head()

street_type_list = ['JALAN ', 'LORONG ','CHANGKAT ', 'LAMAN ', 'LAHAT ', 'LEBUH ', 'LEBUHRAYA ', 'LENGKOK ','LINGKARAN ', 'PERSIARAN ' ]
STRT_P1["Street_1_New"] = STRT_P1["Street_1"].str.replace('|'.join(street_type_list), '')

STRT_P1["Street_2"] = STRT_P1["Street_2"].str.upper()
STRT_P1["Street_2_New"] = STRT_P1["Street_2"].str.replace('|'.join(street_type_list), '')
STRT_P1.head()

# Getting the ServiceType
service_list = isp_corrected[['ServiceType','HNUM_STRT_TM']].drop_duplicates()
service_list["ServiceType"] = service_list["ServiceType"].str.upper()
service_list = service_list[service_list['ServiceType']!='ERROR']






New_fields1 = pd.merge(STRT_P1,service_list,left_on ='HNUM_STRT',right_on='HNUM_STRT_TM', how = 'left')
New_fields1.info()


#MDU NEW
New_fields2 = New_fields1[['ACCOUNT_NO','service_add_objid','ASTRO_HOUSE_NO1',
                           'Combined_Building','Street_Type_1','Street_1_New','Standard_Building_Name', 
                           'Street_Type_2','Street_2_New','AREA','POSTCODE','STD_CITY','ASTRO_STATE', 'ServiceType','HNUM_STRT_TM']]


New_fields2['Servicable']= str(ISP_Name)


# New_fields3 = New_fields2.drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')
New_fields3 = New_fields2.sort_values(['ServiceType']).drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')


import pandas as pd

astro_cleaned = New_fields3


# Fix HOUSE_NO that are converted to date
astro_cleaned['HOUSE_NO'] = astro_cleaned['ASTRO_HOUSE_NO1'] 
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JAN-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JAN","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jan-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jan","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("FEB-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-FEB",'-02', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Feb-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Feb","-02", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAR-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAR","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Mar-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Mar","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("APR-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-APR","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Apr-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Apr","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAY-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAY","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("May-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-May","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUN-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUN","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jun-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jun","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUL-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUL","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jul-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jul","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("AUG-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-AUG","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Aug-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Aug","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("SEP-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-SEP","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Sep-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Sep","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("OCT-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-OCT","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Oct-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Oct","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("NOV-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-NOV","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Nov-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Nov","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("DEC-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-DEC","-12", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Dec-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Dec","-12", case = False)

# Fix HOUSE_NO that are converted to date (DD/MM/YYYY format)
# Filter date HOUSE_NO
date_house = astro_cleaned[astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True]
# Spliting the HOUSE_NO
date_house['block'] = (date_house.HOUSE_NO.str[0:2])
date_house['floor'] = (date_house.HOUSE_NO.str[3:5])
date_house['unit'] = (date_house.HOUSE_NO.str[8:10])
# Combine the split HOUSE_NO with -
date_house['HOUSE_NO_ASTRO'] = date_house['block'] + "-" + date_house['floor'] + "-" + date_house['unit']
# Filter not date HOUSE_NO
not_date_house = astro_cleaned[~(astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True)]
not_date_house['HOUSE_NO_ASTRO'] = not_date_house['HOUSE_NO']
not_date_house.head()
# Append the 2 df again
frame = [date_house,not_date_house]
astro_cleaned = pd.concat(frame)
astro_cleaned.shape

# Remove additional column created to combine HOUSE_NO
astro_cleaned = astro_cleaned.drop(['block','floor','unit'],axis=1)
astro_cleaned.info()



astro_cleaned['ASTRO_HOUSE_NO1']= astro_cleaned['HOUSE_NO_ASTRO'].str.pad(width=10)


#MDU NEW
astro_cleaned2 = astro_cleaned[['ACCOUNT_NO','service_add_objid', 'ASTRO_HOUSE_NO1', 
                                   'Combined_Building','Street_Type_1','Street_1_New','Street_Type_2',
                                   'Street_2_New',  'AREA','STD_CITY' ,'POSTCODE', 'ASTRO_STATE',
                                   'Standard_Building_Name',
                                   'ServiceType', 'Servicable', 'HNUM_STRT_TM']]


UAMS_SDU_Base = astro_cleaned2

UAMS_SDU_Base['ACCOUNT_NO'] = UAMS_SDU_Base['ACCOUNT_NO'].astype(str)
UAMS_SDU_Base['ACCOUNT_NO'] = UAMS_SDU_Base['ACCOUNT_NO'].str.replace('\.0','', case = False)

print(UAMS_SDU_Base.shape)

UAMS_SDU_Base = UAMS_SDU_Base.drop_duplicates(subset=['ACCOUNT_NO'], keep='first')
print(UAMS_SDU_Base.shape)



UAMS_SDU_Base = UAMS_SDU_Base.rename({'ASTRO_HOUSE_NO1':'House_No', 
                                      'ACCOUNT_NO': 'Account_No'}, axis=1)


UAMS_SDU_Base.to_csv('UAMS_Format_stndrd_'+str(ISP_Name)+'_P1_SDU.csv') # Save in pipeline bucket - to be used in UAMS generation

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: FutureWarning: The default value of regex will change from True to False in a future version.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1643655 entries, 0 to 1643654
Data columns (total 64 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1643655 non-null  int64
 1   ACCOUNT_NO              1643655 non-null  int64
 2   ORIGINAL_ADDRESS        1466789 non-null  object
 3   GEOHASH                 1466789 non-null  object
 4   LOCATION_TYPE           777844 non-null   object
 5   TRANSFORMED_ADDRESS     777844 non-null   object
 6   NUMBER_OF_RESULTS       1466789 non-null  float64
 7   FORMATTED_ADDRESS       1368784 non-null  object
 8   Street_1                1643655 non-null  object
 9   Street_2                1352686 non-null  object
 10  AREA                    1606967 non-null  object
 11  CITY                    1466789 non-null  object
 12  STATE                   1466789 non-null  object
 13  COUNTRY                 1466789 non-null  object
 14  POSTCODE                1643076 non-null  object
 15  match                   1466789 non-null  object
 16  Combined_Building       1643655 non-null  object
 17  ASTRO_CITY              777844 non-null   object
 18  ASTRO_STATE             1643629 non-null  object
 19  cust_location           151457 non-null   object
 20  service_add_objid       996354 non-null   float64
 21  STD_CITY                1641713 non-null  object
 22  HOUSE_NO                1643655 non-null  object
 23  Token_Sort_Ratio        44117 non-null    float64
 24  rank                    44117 non-null    float64
 25  Standard_Building_Name  1643655 non-null  object
 26  Unnamed: 0.1            1492198 non-null  float64
 27  Unnamed: 0.1.1          249424 non-null   float64
 28  Unnamed: 0.1.1.1        249424 non-null   float64
 29  DWELLING_TYPE           249424 non-null   object
 30  AREA/SECTION            570850 non-null   object
 31  BLOCK                   32114 non-null    object
 32  Batch_Flag              51494 non-null    object
 33  CONDO NAME              3271 non-null     object
 34  STREET NAME 1           47349 non-null    object
 35  STREET NAME 2           7708 non-null     object
 36  STREET TYPE             46911 non-null    object
 37  account_no              51494 non-null    float64
 38  address_type            50086 non-null    object
 39  service_add_1           4371 non-null     object
 40  service_add_2           5616 non-null     object
 41  service_add_3           51256 non-null    object
 42  service_add_4           45072 non-null    object
 43  service_city            51494 non-null    object
 44  service_postcode        51494 non-null    float64
 45  service_region          50941 non-null    object
 46  service_state           51494 non-null    object
 47  Agent                   0 non-null        float64
 48  Date                    0 non-null        float64
 49  Unnamed: 21             0 non-null        float64
 50  service_add_5           0 non-null        float64
 51  hnum_len                50601 non-null    float64
 52  HNUM_origin             1315332 non-null  object
 53  Source                  1242774 non-null  object
 54  COMBINED_ADD            1643655 non-null  object
 55  ASTRO_HOUSE_NO1         1643655 non-null  object
 56  HNUM_STRT               1643655 non-null  object
 57  MAPPED_HNUM_STRT_TM     1643655 non-null  object
 58  Street_Type_1           1643655 non-null  object
 59  Street_Type_2           1643655 non-null  object
 60  Street_1_New            1643655 non-null  object
 61  Street_2_New            1352686 non-null  object
 62  ServiceType             1643654 non-null  object
 63  HNUM_STRT_TM            1643654 non-null  object
dtypes: float64(14), int64(2), object(48)
memory usage: 815.1+ MB

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1624732 entries, 79949 to 312876
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   ACCOUNT_NO              1624732 non-null  int64
 1   service_add_objid       983401 non-null   float64
 2   ASTRO_HOUSE_NO1         1624732 non-null  object
 3   Combined_Building       1624732 non-null  object
 4   Street_Type_1           1624732 non-null  object
 5   Street_1_New            1624732 non-null  object
 6   Standard_Building_Name  1624732 non-null  object
 7   Street_Type_2           1624732 non-null  object
 8   Street_2_New            1339283 non-null  object
 9   AREA                    1588609 non-null  object
 10  POSTCODE                1624156 non-null  object
 11  STD_CITY                1622790 non-null  object
 12  ASTRO_STATE             1624706 non-null  object
 13  ServiceType             1624731 non-null  object
 14  HNUM_STRT_TM            1624731 non-null  object
 15  Servicable              1624732 non-null  object
 16  HOUSE_NO                1624732 non-null  object
 17  HOUSE_NO_ASTRO          1624732 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 235.5+ MB

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:159: FutureWarning: The default value of regex will change from True to False in a future version.
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(1624732, 16)
(1624732, 16)

In [ ]:
UAMS_SDU_Base.shape

(1624732, 16)

### RPA Base generation - to be saved in RPA bucket

In [ ]:
## Revision 26Mar
### Getting the ISP fields
from datetime import datetime
now = datetime.now()
# Capitalize HNUM_STRT_TM
if ISP_Name == 'TM':
    rpa_isp_corrected = isp_corrected

    rpa_isp_corrected["ISP_ADDRESS"] = rpa_isp_corrected["BuildingName"].map(str) + " ," + \
                                rpa_isp_corrected["HouseNo"].map(str) + " ," + \
                                rpa_isp_corrected["StreetType"].map(str) + " ," + \
                                rpa_isp_corrected["StreetName"].map(str) + " ," + \
                                rpa_isp_corrected["Postcode"].map(str)+ " ," +\
                                rpa_isp_corrected["City"].map(str)+ " ," + \
                                rpa_isp_corrected["State"].map(str)
    
    rpa_isp_corrected['TM_HOUSE_NO1']= rpa_isp_corrected['HouseNo'].str.pad(width=10)
    
    New_Columns = rpa_isp_corrected.drop_duplicates(subset=['HouseNo','StreetType','Street_1','Postcode','STD_CITY','State'],
                                                          keep='first')
    
    distinct_sdu_p1 = New_Columns[['HNUM_STRT_TM','TM_HOUSE_NO1','HouseNo','BuildingName',
                                      'StreetType','StreetName',
                                      'Section','Postcode','City',
                                      'State','ServiceType', 'ISP_ADDRESS']]
    
    
    
    distinct_sdu_p1['HOUSE_NO_TM'] = distinct_sdu_p1['TM_HOUSE_NO1'].astype(str)
    distinct_sdu_p1 = distinct_sdu_p1.drop('TM_HOUSE_NO1',axis=1)
    
    distinct_sdu_p1["Mix_key"] = distinct_sdu_p1["BuildingName"].map(str) + " ," + \
                               distinct_sdu_p1["HNUM_STRT_TM"].map(str)
    distinct_sdu_p1 = distinct_sdu_p1.drop_duplicates(subset=['Mix_key'], keep='first')
       
    
    # Rerrange columns
    distinct_sdu_p1 = distinct_sdu_p1[['HOUSE_NO_TM', 'BuildingName', 'StreetType', 'StreetName', 'Section',
                                           'Postcode', 'City', 'State', 'ServiceType', 'ISP_ADDRESS','HNUM_STRT_TM'
                                          ,'Mix_key' ]]
    
    print(distinct_sdu_p1.shape)
    distinct_sdu_p1.to_csv('Distinct_Fields_P1_SDU_Mar_V1.csv',index=False)
    
else:
    print('Not TM')

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(6716304, 12)

In [ ]:
# distinct_sdu_p1 = pd.read_csv('Distinct_Fields_P1_SDU.csv')
# distinct_sdu_p1.head()

In [ ]:
# distinct_sdu_p1.isna().sum()

In [ ]:
# a = distinct_sdu_p1[distinct_sdu_p1['Postcode'].isnull()]
# a.head()

In [ ]:
# Remove the mapped account no
MAPPED_STRT_HNUM_Df_list = list(MAPPED_STRT_HNUM_Df['ACCOUNT_NO'])
astro_unmapped = astro_corrected[~astro_corrected['ACCOUNT_NO'].isin(MAPPED_STRT_HNUM_Df_list)]
print(astro_unmapped.shape)

(2955260, 57)

In [ ]:
# Remove the mapped account no
MAPPED_STRT_HNUM_Df_list = list(MAPPED_STRT_HNUM_Df['ACCOUNT_NO'])
astro_unmapped = astro_corrected[~astro_corrected['ACCOUNT_NO'].isin(MAPPED_STRT_HNUM_Df_list)]
print(astro_unmapped.shape)

(2955260, 57)

In [ ]:
MDU_IN_SDU = UAMS_SDU_Base[UAMS_SDU_Base['Standard_Building_Name']!='']
MDU_IN_SDU.shape

(1624732, 16)

### P2 Mapping - SDU

In [ ]:
## Using the unmapped base from P1 SDU mapping as the new astro_corrected
astro_corrected = astro_unmapped

In [ ]:
isp_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10184579 entries, 0 to 10184578
Data columns (total 40 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   ADDRESS_KEY             float64
 2   ORIGINAL_ADDRESS        object
 3   GEOHASH                 object
 4   LOCATION_TYPE           object
 5   TRANSFORMED_ADDRESS     object
 6   NUMBER_OF_RESULTS       float64
 7   FORMATTED_ADDRESS       object
 8   Street_1                object
 9   Street_2                object
 10  AREA                    object
 11  CITY                    object
 12  STATE                   object
 13  COUNTRY                 object
 14  POSTCODE                object
 15  match                   object
 16  STD_CITY                object
 17  BuildingName            object
 18  City                    object
 19  HouseNo                 object
 20  Postcode                object
 21  Section                 object
 22  ServiceType             object
 23  State                   object
 24  StreetName              object
 25  StreetType              object
 26  ADDRESS                 object
 27  ADDRESS_MDU             object
 28  Address_Type            object
 29  Combined_Building       object
 30  Source                  object
 31  Standard_Building_Name  object
 32  Unnamed: 0.1            float64
 33  FloorNo                 object
 34  Unnamed: 0.1.1          float64
 35  Status                  object
 36  ACCOUNT_NO              object
 37  TM_HOUSE_NO1            object
 38  HNUM_STRT_TM            object
 39  ISP_ADDRESS             object
dtypes: float64(4), int64(1), object(35)
memory usage: 3.1+ GB

In [ ]:
print(isp_corrected.shape)
print(astro_corrected.shape)

(10184579, 40)
(2955260, 57)

In [ ]:
# astro_corrected.ACCOUNT_NO.nnunique()

In [ ]:
# Add new column in astro_corrected -- HOUSE_NO + G_Street_Name_1 + G_City = HNUM_STRT
astro_corrected["HNUM_STRT"] = astro_corrected["Street_1"].map(str) + " ," + \
                            astro_corrected["STD_CITY"].map(str)
astro_corrected.tail()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
4793334,3946177,89648315,"LOT B-7-2,BLK B TAMAN GANANG,JALAN PAHLAWAN,KOTA KINABALU,KOTA KINABALU,88200,SARAWAK",w9499n61ssue,AAABF,AAE54$AA4C0$Jalan Pahlawan$AA10A$Taman Olivia Phase 1$Penampang$Sabah$Malaysia$88200,2.0,NaN,JALAN PAHLAWAN,NaN,Taman Olivia Phase 1,Penampang,Sabah,Malaysia,88200,Not Match,NAN,KOTA KINABALU,SAR,NaN,55566375.0,PENAMPANG,,NaN,NaN,NO,3300659.0,NaN,NaN,NaN,TAMAN GANANG,BLOCK B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,",NAN ,JALAN PAHLAWAN ,Taman Olivia Phase 1 ,88200 ,PENAMPANG ,SAR",,"JALAN PAHLAWAN ,PENAMPANG"
4793336,3946179,83412220,"LOT 3745-2,JALAN KEMAMAN DUNGUN,KG GONG CENGAL,KEMASEK,24200,TERENGGANU",w2cd1zwq4j4t,AFA5F,AA936$2$Jalan Kemaman - Dungun$AAC1A$AAEFF$Paka$Terengganu$Malaysia$23100,2.0,NaN,JALAN KEMAMAN - DUNGUN,NaN,AAEFF,Paka,Terengganu,Malaysia,23100,Not Match,NAN,KEMASEK,TRG,NaN,26237575.0,PAKA,,NaN,NaN,NO,3300661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,",NAN ,JALAN KEMAMAN - DUNGUN ,AAEFF ,23100 ,PAKA ,TRG",,"JALAN KEMAMAN - DUNGUN ,PAKA"
4793337,3946180,89364640,"LOT 3476 PAD 37-1,JALAN SRI TANJUNG,PARIT AMAT DARAT,MUAR,84000,JOHOR",w22gx3xmx030,AFA5F,AAC30$37$Jalan Sri Tanjung$AA678$AAA50$Muar$Johor$Malaysia$84000,2.0,NaN,JALAN SRI TANJUNG,NaN,AAA50,Muar,Johor,Malaysia,84000,Not Match,NAN,MUAR,JOH,NaN,20609063.0,MUAR,3476,NaN,NaN,NO,3300662.0,NaN,NaN,NaN,PARIT AMAT DARAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"3476 ,NAN ,JALAN SRI TANJUNG ,AAA50 ,84000 ,MUAR ,JOH",3476,"JALAN SRI TANJUNG ,MUAR"
4793338,3946181,97062032,"NO.PT 501,TAMAN JINTAN JAYA,KG TAWANG,BACHOK,16300,KELANTAN",w30fb0w9eccf,AAABF,AA4F5$AA0FA$Jalan Tawang$AA4EF$AA673$Kota Bharu$Kelantan$Malaysia$16150,2.0,NaN,JALAN TAWANG,NaN,AA673,Kota Bharu,Kelantan,Malaysia,16150,Not Match,NAN,Bachok,KEL,NaN,74064444.0,KOTA BHARU,NaN,NaN,NaN,NO,3300663.0,NaN,NaN,NaN,KAMPUNG TAWANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"nan ,NAN ,JALAN TAWANG ,AA673 ,16150 ,KOTA BHARU ,KEL",NaN,"JALAN TAWANG ,KOTA BHARU"
4793339,3946182,83543625,"KG SAGIL PARIT 1,TLKPS 27 5/1,REDANG,TANGKAK,84020,JOHOR",w22uyzq23spg,AAABF,AAD9B$AAFEA$Jalan Sagil Parit 1$AAF80$AA959$Bukit Gambir$Johor$Malaysia$84900,2.0,NaN,JALAN SAGIL PARIT 1,NaN,AA959,Bukit Gambir,Johor,Malaysia,84900,Not Match,NAN,TANGKAK,JOH,NaN,77548302.0,BUKIT GAMBIR,NaN,NaN,NaN,NO,3300664.0,NaN,NaN,NaN,REDANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,extracted,GAPI,"nan ,NAN ,JALAN SAGIL PARIT 1 ,AA959 ,84900 ,BUKIT GAMBIR ,JOH",NaN,"JALAN SAGIL PARIT 1 ,BUKIT GAMBIR"

In [ ]:
# Clean HNUM_STRT column
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('nan ','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected['HNUM_STRT'].str.replace('[,.]','', case = False)
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(" ","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace("\.","")
astro_corrected["HNUM_STRT"] = astro_corrected["HNUM_STRT"].str.replace(",","")

astro_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

(2955260, 57)

In [ ]:
# Capitalize HNUM_STRT
astro_corrected['HNUM_STRT'] = astro_corrected['HNUM_STRT'].str.upper()

In [ ]:
astro_corrected.head()

,Unnamed: 0,ACCOUNT_NO,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,Combined_Building,ASTRO_CITY,ASTRO_STATE,cust_location,service_add_objid,STD_CITY,HOUSE_NO,Token_Sort_Ratio,rank,Standard_Building_Name,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DWELLING_TYPE,AREA/SECTION,BLOCK,Batch_Flag,CONDO NAME,STREET NAME 1,STREET NAME 2,STREET TYPE,account_no,address_type,service_add_1,service_add_2,service_add_3,service_add_4,service_city,service_postcode,service_region,service_state,Agent,Date,Unnamed: 21,service_add_5,hnum_len,HNUM_origin,Source,COMBINED_ADD,ASTRO_HOUSE_NO1,HNUM_STRT
1,1,99018045,"MARINOX SKY VILLAS,28A-29-2,JALAN DESIRAN TANJUNG 4,TANJONG TOKONG,10470,PULAU PINANG",w0zr48gw5ekm,AB21D,AAD7A$28A$Jalan Desiran Tanjung 4$AA557$Seri Tanjung Pinang$Tanjung Tokong$Pulau Pinang$Malaysia$10470,1.0,"28a, jalan desiran tanjung 4, seri tanjung pinang, 10470 tanjung tokong, pulau pinang, malaysia",JALAN DESIRAN TANJUNG 4,jalan desiran tanjung 4,Seri Tanjung Pinang,Tanjung Tokong,Pulau Pinang,Malaysia,10470,Match,MARINOX SKY VILLAS,TANJONG TOKONG,PNG,URBAN,86795196.0,TANJUNG TOKONG,28A-29-2,NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"28A-29-2 ,MARINOX SKY VILLAS ,JALAN DESIRAN TANJUNG 4 ,Seri Tanjung Pinang ,10470 ,TANJUNG TOKONG ,PNG",28A-29-2,JALANDESIRANTANJUNG4TANJUNGTOKONG
2,2,96056470,"NO. 230A,SUSUR DESA BIDARA 11,TAMAN DESA BIDARA,KUALA KETIL,09300,KEDAH",w0zxf7qy687j,AB21D,AAD8F$969$Susur Bidara 3$AAEDD$Taman Desa Bidara$Kuala Ketil$Kedah$Malaysia$09300,1.0,"969, susur bidara 3, taman desa bidara, 09300 kuala ketil, kedah, malaysia",SUSUR BIDARA 3,susur bidara 3,Taman Desa Bidara,Kuala Ketil,Kedah,Malaysia,09300,Match,NAN,KUALA KETIL,KED,RURAL,88492386.0,KUALA KETIL,230,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"230 ,NAN ,SUSUR BIDARA 3 ,Taman Desa Bidara ,09300 ,KUALA KETIL ,KED",230,SUSURBIDARA3KUALAKETIL
3,3,98210672,"NO 10-G-T2,JALAN MENARA UTAMA,TAMAN D MENARA,BUKIT CHANGGANG,BANTING,42700,SELANGOR",w2820b4ur53b,AAABF,AA422$AA697$Jalan Menara Utama$AA324$AA50E$Banting$Selangor$Malaysia$AAC99,1.0,"jalan menara utama, banting, selangor, malaysia",JALAN MENARA UTAMA,jalan menara utama,AA50E,Banting,Selangor,Malaysia,AAC99,Match,NAN,BANTING,SEL,URBAN,86703504.0,BANTING,10,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10 ,NAN ,JALAN MENARA UTAMA ,AA50E ,AAC99 ,BANTING ,SEL",10,JALANMENARAUTAMABANTING
4,4,99016633,"C2-2-2 BLK. C2 PERSIARAN,MULTIMEDIA CYBERIA SMARTHOMES,CYBERJAYA,63000,SELANGOR",w2828ue531jx,AAABF,AAF4F$AA3B8$Persiaran Bestari$AA452$Cyberjaya$Cyberjaya$Selangor$Malaysia$63000,1.0,"sp 84 the arc cyberjaya, persiaran bestari, cyberjaya, 63000 cyberjaya, selangor, malaysia",PERSIARAN BESTARI,persiaran bestari,Cyberjaya,Cyberjaya,Selangor,Malaysia,63000,Match,NAN,CYBERJAYA,SEL,URBAN,86785711.0,CYBERJAYA,C2-2-2,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C2-2-2 ,NAN ,PERSIARAN BESTARI ,Cyberjaya ,63000 ,CYBERJAYA ,SEL",C2-2-2,PERSIARANBESTARICYBERJAYA
5,5,80058262,"2-18-5,THE STRAITS REGENCY,PRSN TANJUNG BUNGAH 3,TANJUNG BUNGAH,TANJONG BUNGAH,11200,PULAU PINANG",w0zr1g3dvpc5,AB21D,AA9CB$2$Persiaran Tanjong Bungah 3$AAA97$AAD1B$Tanjung Bungah$Pulau Pinang$Malaysia$11200,1.0,"2, persiaran tanjong bungah 3, 11200 tanjung bungah, pulau pinang, malaysia",PERSIARAN TANJONG BUNGAH 3,persiaran tanjong bungah 3,AAD1B,Tanjung Bungah,Pulau Pinang,Malaysia,11200,Match,NAN,TANJONG BUNGAH,PNG,URBAN,88218380.0,TANJUNG BUNGAH,2-18-5,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2-18-5 ,NAN ,PERSIARAN TANJONG BUNGAH 3 ,AAD1B ,11200 ,TANJUNG BUNGAH ,PNG",2-18-5,PERSIARANTANJONGBUNGAH3TANJUNGBUNGAH

In [ ]:
pd.set_option('display.max_columns', 500)

In [ ]:
# Add new column in isp_corrected -- HouseNo + G_Street_Name_1 + G_City = HNUM_STRT_TM
isp_corrected["HNUM_STRT_TM"] = isp_corrected["Street_1"].map(str) + " ," + \
                            isp_corrected["STD_CITY"].map(str)
isp_corrected.head()

,Unnamed: 0,ADDRESS_KEY,ORIGINAL_ADDRESS,GEOHASH,LOCATION_TYPE,TRANSFORMED_ADDRESS,NUMBER_OF_RESULTS,FORMATTED_ADDRESS,Street_1,Street_2,AREA,CITY,STATE,COUNTRY,POSTCODE,match,STD_CITY,BuildingName,City,HouseNo,Postcode,Section,ServiceType,State,StreetName,StreetType,ADDRESS,ADDRESS_MDU,Address_Type,Combined_Building,Source,Standard_Building_Name,Unnamed: 0.1,FloorNo,Unnamed: 0.1.1,Status,ACCOUNT_NO,TM_HOUSE_NO1,HNUM_STRT_TM,ISP_ADDRESS
0,0,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"JALAN TELAGA BATU ,KUALA TERENGGANU","RUMAH MURAH , A291 ,JALAN ,TELAGA DAING ,21300 ,KUALA NERUS ,TERENGGANU"
1,1,53424.0,"RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",w2cq668btf8d,AAABF,AA043$AADF0$JALAN TELAGA BATU$AAFDD$AA573$Kuala Terengganu$Terengganu$Malaysia$21200,1.0,"jalan telaga batu, 21200 kuala terengganu, terengganu, malaysia",JALAN TELAGA BATU,jalan telaga batu,AA573,KUALA TERENGGANU,TERENGGANU,Malaysia,21200,Match,KUALA TERENGGANU,RUMAH MURAH,KUALA NERUS,A291,21300,RUMAH MURAH TELAGA DAING,FTTH,TERENGGANU,TELAGA DAING,JALAN,"RUMAH MURAH, A291,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU","RUMAH MURAH,JALAN TELAGA DAING,RUMAH MURAH TELAGA DAING,KUALA NERUS,21300,TERENGGANU",MDU,RUMAH MURAH,GAPI,YES,NaN,NaN,NaN,NaN,NaN,A291,"JALAN TELAGA BATU ,KUALA TERENGGANU","RUMAH MURAH , A291 ,JALAN ,TELAGA DAING ,21300 ,KUALA NERUS ,TERENGGANU"
2,2,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-01,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-01,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-01,"JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-01 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"
3,3,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-02,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-02,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-02,"JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-02 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"
4,4,27927.0,"FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",w2863w3f93nc,AAABF,AA714$AAFD3$Jalan 8f$AAA36$Taman Selayang$Batu Caves$Selangor$Malaysia$68100,1.0,"jalan 8f, taman selayang, 68100 batu caves, selangor, malaysia",JALAN 8F,jalan 8f,Taman Selayang,BATU CAVES,SELANGOR,Malaysia,68100,Match,BATU CAVES,FTTH BLOK C BERINGIN,SELAYANG,C-G-03,68100,TAMAN SELAYANG MAKMUR,FTTH,SELANGOR,8F,JALAN,"FTTH BLOK C BERINGIN, C-G-03,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR","FTTH BLOK C BERINGIN,JALAN 8F,TAMAN SELAYANG MAKMUR,SELAYANG,68100,SELANGOR",MDU,FTTH BLOK C BERINGIN,GAPI,NO,NaN,NaN,NaN,NaN,NaN,C-G-03,"JALAN 8F ,BATU CAVES","FTTH BLOK C BERINGIN , C-G-03 ,JALAN , 8F ,68100 ,SELAYANG ,SELANGOR"

In [ ]:
# Clean HNUM_STRT_TM column
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('nan ','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected['HNUM_STRT_TM'].str.replace('[,.]','', case = False)
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(" ","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace(",","")
isp_corrected["HNUM_STRT_TM"] = isp_corrected["HNUM_STRT_TM"].str.replace("\.","")

isp_corrected.shape

/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zmmzohreh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

(10184579, 40)

In [ ]:
# Capitalize HNUM_STRT_TM
isp_corrected['HNUM_STRT_TM'] = isp_corrected['HNUM_STRT_TM'].str.upper()

In [ ]:
# Remove nulls in HNUM_STRT and HNUM_STRT_TM
astro_corrected = astro_corrected[astro_corrected.HNUM_STRT.notnull()]
isp_corrected = isp_corrected[isp_corrected.HNUM_STRT_TM.notnull()]

print(astro_corrected.shape)
print(isp_corrected.shape)

(2955260, 57)
(10184579, 40)

In [ ]:
words = " ".join(isp_corrected.HNUM_STRT_TM).split() 
selection = set(words)
selection1 = list(selection)
selection2 = pd.DataFrame(selection1)
selection2.columns = ['MAPPED_HNUM_STRT_TM']
selection2.head()

     MAPPED_HNUM_STRT_TM
0  JALANBESTARI87SKUDAI
1  JALANGURUNINDAH5GURUN
2  JALANSRIKESANG4MUAR
3  JALANNIRWANA38AMPANG
4  JALANSEKSYEN1/9KAJANG

In [ ]:
MAPPED_STRT_HNUM_Df = astro_corrected.merge(selection2,left_on ='HNUM_STRT', right_on = 'MAPPED_HNUM_STRT_TM', how = 'inner')
MAPPED_STRT_HNUM_Df.shape

In [ ]:
MAPPED_STRT_HNUM_Df.head()

In [ ]:
# Making sure that G_Street_Name_1 has valid value
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1'].notnull()]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= ""]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= " "]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= "NAN"]
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df[MAPPED_STRT_HNUM_Df['Street_1']!= "nan"]
MAPPED_STRT_HNUM_Df.shape

In [ ]:
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.sort_values(by='Source', ascending=False)
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset=['ACCOUNT_NO','HOUSE_NO'],keep='first')
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.drop_duplicates(subset='ACCOUNT_NO',keep='last')

In [ ]:
print(MAPPED_STRT_HNUM_Df.shape, MAPPED_STRT_HNUM_Df.ACCOUNT_NO.nunique())

In [ ]:
P2_SDU = MAPPED_STRT_HNUM_Df

### Generating UAMS format and getting ServiceType

In [ ]:
STRT_P1 = MAPPED_STRT_HNUM_Df
STRT_P1['Street_1'] = STRT_P1['Street_1'].astype(str)

STRT_P1.reset_index(inplace=True, drop=True)
test = STRT_P1[STRT_P1['Street_1'].apply(lambda x: x.startswith('AA'))].index
test = list(test)

STRT_P1.loc[test,'Street_1'] = ''

STRT_P1.loc[STRT_P1['match']=='Match','Street_2'] = ''
STRT_P1[STRT_P1['match']=='Match']

import re

# this step ensures that the Street_1_New and Street_2_New column doesn't have any of the StreetType words in it (JALAN, LORONG etc)
def extract_street(item):

    street_type = ""
    
    r1 = "JALAN|LORONG|CHANGKAT|LAMAN|LAHAT|LEBUH|LEBUHRAYA|LENGKOK|LINGKARAN|PERSIARAN"


    m = re.search(r1,item)
    if m:
        street_type = m.group()
    return street_type        
        
STRT_P1["Street_Type_1"] = STRT_P1["Street_1"].apply(extract_street)
STRT_P1["Street_Type_2"] = STRT_P1["Street_2"].map(str).apply(extract_street)
STRT_P1.head()

street_type_list = ['JALAN ', 'LORONG ','CHANGKAT ', 'LAMAN ', 'LAHAT ', 'LEBUH ', 'LEBUHRAYA ', 'LENGKOK ','LINGKARAN ', 'PERSIARAN ' ]
STRT_P1["Street_1_New"] = STRT_P1["Street_1"].str.replace('|'.join(street_type_list), '')

STRT_P1["Street_2"] = STRT_P1["Street_2"].str.upper()
STRT_P1["Street_2_New"] = STRT_P1["Street_2"].str.replace('|'.join(street_type_list), '')
STRT_P1.head()

## Getting the ServiceType --> Since this step uses HNUM_STRT_TM for the merge below, should we remove the step above where we created MAPPED_STRT_HNUM_Df by creating selection2?
service_list = isp_corrected[['ServiceType','HNUM_STRT_TM']].drop_duplicates()
service_list["ServiceType"] = service_list["ServiceType"].str.upper()
service_list = service_list[service_list['ServiceType']!='ERROR']


New_fields1 = pd.merge(STRT_P1,service_list,left_on ='HNUM_STRT',right_on='HNUM_STRT_TM', how = 'left')
New_fields1.info()


#MDU NEW
New_fields2 = New_fields1[['ACCOUNT_NO','service_add_objid','ASTRO_HOUSE_NO1',
                           'Combined_Building','Street_Type_1','Street_1_New','Standard_Building_Name', 
                           'Street_Type_2','Street_2_New','AREA','POSTCODE','STD_CITY','ASTRO_STATE', 'ServiceType','HNUM_STRT_TM']]


New_fields2['Servicable']= str(ISP_Name)


# New_fields3 = New_fields2.drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')
New_fields3 = New_fields2.sort_values(['ServiceType']).drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')


import pandas as pd

astro_cleaned = New_fields3


# Fix HOUSE_NO that are converted to date
astro_cleaned['HOUSE_NO'] = astro_cleaned['ASTRO_HOUSE_NO1'] 
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JAN-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JAN","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jan-","01-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jan","-01", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("FEB-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-FEB",'-02', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Feb-","02-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Feb","-02", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAR-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAR","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Mar-",'03-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Mar","-03", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("APR-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-APR","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Apr-","04-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Apr","-04", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAY-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAY","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("May-","05-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-May","-05", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUN-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUN","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jun-","06-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jun","-06", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUL-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUL","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jul-","07-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jul","-07", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("AUG-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-AUG","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Aug-",'08-', case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Aug","-08", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("SEP-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-SEP","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Sep-","09-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Sep","-09", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("OCT-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-OCT","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Oct-","10-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Oct","-10", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("NOV-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-NOV","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Nov-","11-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Nov","-11", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("DEC-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-DEC","-12", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Dec-","12-", case = False)
astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Dec","-12", case = False)

# Fix HOUSE_NO that are converted to date (DD/MM/YYYY format)
# Filter date HOUSE_NO
date_house = astro_cleaned[astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True]
# Spliting the HOUSE_NO
date_house['block'] = (date_house.HOUSE_NO.str[0:2])
date_house['floor'] = (date_house.HOUSE_NO.str[3:5])
date_house['unit'] = (date_house.HOUSE_NO.str[8:10])
# Combine the split HOUSE_NO with -
date_house['HOUSE_NO_ASTRO'] = date_house['block'] + "-" + date_house['floor'] + "-" + date_house['unit']
# Filter not date HOUSE_NO
not_date_house = astro_cleaned[~(astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True)]
not_date_house['HOUSE_NO_ASTRO'] = not_date_house['HOUSE_NO']
not_date_house.head()
# Append the 2 df again
frame = [date_house,not_date_house]
astro_cleaned = pd.concat(frame)
astro_cleaned.shape

# Remove additional column created to combine HOUSE_NO
astro_cleaned = astro_cleaned.drop(['block','floor','unit'],axis=1)
astro_cleaned.info()



astro_cleaned['ASTRO_HOUSE_NO1']= astro_cleaned['HOUSE_NO_ASTRO'].str.pad(width=10)


#MDU NEW
astro_cleaned2 = astro_cleaned[['ACCOUNT_NO','service_add_objid', 'ASTRO_HOUSE_NO1', 
                                   'Combined_Building','Street_Type_1','Street_1_New','Street_Type_2',
                                   'Street_2_New',  'AREA','STD_CITY' ,'POSTCODE', 'ASTRO_STATE',
                                   'Standard_Building_Name',
                                   'ServiceType', 'Servicable', 'HNUM_STRT_TM']]


UAMS_MDU_Base = astro_cleaned2

UAMS_MDU_Base['ACCOUNT_NO'] = UAMS_MDU_Base['ACCOUNT_NO'].astype(str)
UAMS_MDU_Base['ACCOUNT_NO'] = UAMS_MDU_Base['ACCOUNT_NO'].str.replace('\.0','', case = False)

print(UAMS_MDU_Base.shape)

# UAMS_MDU_Base = UAMS_MDU_Base.drop_duplicates(subset=['ACCOUNT_NO'], keep='first')
print(UAMS_MDU_Base.shape)



UAMS_MDU_Base=UAMS_MDU_Base.rename({'ASTRO_HOUSE_NO1':'House_No', 
                                      'ACCOUNT_NO': 'Account_No'}, axis=1)


# UAMS_MDU_Base.to_csv('UAMS_Format_stndrd_'+str(ISP_Name)+'_P2_SDU.csv') # Save in pipeline bucket - to be used in UAMS generation

In [ ]:
# UAMS_MDU_Base.to_csv('UAMS_Format_stndrd_'+str(ISP_Name)+'_P2_SDU.csv') # Save in pipeline bucket - to be used in UAMS generation

### RPA Base generation - to be saved in RPA bucket

In [ ]:
## Revision 26Mar
### Getting the ISP fields
from datetime import datetime
now = datetime.now()
# Capitalize HNUM_STRT_TM
if ISP_Name == 'TM':
    rpa_isp_corrected = isp_corrected

    rpa_isp_corrected["ISP_ADDRESS"] = rpa_isp_corrected["BuildingName"].map(str) + " ," + \
                                rpa_isp_corrected["HouseNo"].map(str) + " ," + \
                                rpa_isp_corrected["StreetType"].map(str) + " ," + \
                                rpa_isp_corrected["StreetName"].map(str) + " ," + \
                                rpa_isp_corrected["Postcode"].map(str)+ " ," +\
                                rpa_isp_corrected["City"].map(str)+ " ," + \
                                rpa_isp_corrected["State"].map(str)
    
    rpa_isp_corrected['TM_HOUSE_NO1']= rpa_isp_corrected['HouseNo'].str.pad(width=10)
    
    New_Columns = rpa_isp_corrected.drop_duplicates(subset=['HouseNo','StreetType','Street_1','Postcode','STD_CITY','State'],
                                                          keep='first')
    
    distinct_sdu_p2 = New_Columns[['HNUM_STRT_TM','TM_HOUSE_NO1','HouseNo','BuildingName',
                                      'StreetType','StreetName',
                                      'Section','Postcode','City',
                                      'State','ServiceType', 'ISP_ADDRESS']]
    
    
    
    distinct_sdu_p2['HOUSE_NO_TM'] = distinct_sdu_p2['TM_HOUSE_NO1'].astype(str)
    distinct_sdu_p2 = distinct_sdu_p2.drop('TM_HOUSE_NO1',axis=1)
    
    distinct_sdu_p1["Mix_key"] = distinct_sdu_p1["BuildingName"].map(str) + " ," + \
                               distinct_sdu_p1["HNUM_STRT_TM"].map(str)
        
    distinct_sdu_p1 = distinct_sdu_p1.drop_duplicates(subset=['Mix_key'], keep='first')


    
    # Rerrange columns
    distinct_sdu_p2 = distinct_sdu_p2[['HOUSE_NO_TM', 'BuildingName', 'StreetType', 'StreetName', 'Section',
                                           'Postcode', 'City', 'State', 'ServiceType', 'ISP_ADDRESS','HNUM_STRT_TM',
                                       'Mix_key'
                                           ]]
    
    print(distinct_sdu_p2.shape)
    distinct_sdu_p2.to_csv('Distinct_Fields_P2_SDU_Mar_V1.csv',index=False)
    
else:
    print('Not TM')

In [ ]:
print('end')